{% extends "clouderp/base.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% block title %}
    {% if not form.instance.pk %}
    Create Stockitem
    {% else %}
    Update Stockitem
    {% endif %}
{% endblock %}

{% block content %}

            {% include "snippet_shortcut/shortcut_snippet.html" %}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    {% if not form.instance.pk %}
                      <h3>Create Stockitem</h3>
                    {% else %}
                      <h3>Update Stockitem</h3>
                    {% endif %}
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
                        </li>
                        <li class="breadcrumb-item">
                            
                            <a href="{% url 'company:list' %}">Company list</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'company:Dashboard' pk=company_details.pk pk3=selectdatefield_details.pk %}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                        {% if not form.instance.pk %}
                            <strong>Create Stockitem</strong>
                        {% else %}
                            <strong>Update Stockitem</strong>
                        {% endif %}
                        </li>
                    </ol>
                    <br>
                  <a href="{% url 'stockkeeping:stockdatalist' pk=company_details.pk pk3=selectdatefield_details.pk %}" class="btn btn-success" role="button">Select Stockitem</a>
          
                    <a href="{% url 'stockkeeping:stockdatacreate' pk=company_details.pk pk3=selectdatefield_details.pk  %}" class="btn btn-warning" role="button">Create Stockitem</a>
           
                </div>

<br>
<div class="col-lg-12">
    <div class="ibox ">
        <div class="ibox-title">
        {% if not form.instance.pk %}
            <h5>Create Stockitem</h5>
        {% else %}
            <h5>Update Stockitem</h5>
        {% endif %}

            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <form method="POST" id="stock-form" data-validate-username-url="{% url 'stockkeeping:validate_stock_name' pk=company_details.pk pk3=selectdatefield_details.pk %}">
            {% csrf_token %}

            <style type="text/css">
                .errorlist {
                    color: red;
                }
            </style>

              {{ form.non_field_errors }}

                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Stock Name<i class="material-icons" style="font-size:16px;color:red">*</i></label>

                    <div class="col-lg-10">
                    {{ form.stock_name.errors }}
                        {{ form.stock_name }}
                    </div>
                </div>

                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Under<i class="material-icons" style="font-size:16px;color:red">*</i></label>

                    <div class="col-lg-10">
                    {{ form.under.errors }}
                        {{ form.under }}
                    </div>
                </div>

                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Simple Unit<i class="material-icons" style="font-size:16px;color:red">*</i></label>

                    <div class="col-lg-10">
                    {{ form.unitsimple.errors }}
                    {{ form.unitsimple }}
                    </div>
                </div>

                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Compound Unit<i class="material-icons" style="font-size:16px;color:red">*</i></label>

                    <div class="col-lg-10">
                    {{ form.unitcomplex.errors }}
                    {{ form.unitcomplex }}
                    </div>
                </div>

                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Quantity</label>

                    <div class="col-lg-10">
                    {{ form.Quantity.errors }}
                    {{ form.Quantity }}
                    </div>
                </div>

                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Rate</label>

                    <div class="col-lg-10">
                    {{ form.rate.errors }}
                    {{ form.rate }}
                    </div>
                </div>

                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Opening Balance</label>

                    <div class="col-lg-10">
                    {{ form.opening.errors }}
                    {{ form.opening }}

                    </div>
                </div>

                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Gst Rate<i class="material-icons" style="font-size:16px;color:red">*</i></label>

                    <div class="col-lg-10">
                    {{ form.gst_rate.errors }}
                    {{ form.gst_rate }}
                    </div>
                </div>

                <div class="form-group row">

                <label class="col-lg-2 col-form-label">HSN/SAC<i class="material-icons" style="font-size:16px;color:red">*</i></label>

                    <div class="col-lg-10">
                    {{ form.hsn.errors }}
                    {{ form.hsn }}
                    </div>
                </div>

                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Batch No</label>

                    <div class="col-lg-10">
                    {{ form.batch_no.errors }}
                    {{ form.batch_no }}
                    </div>
                </div>

                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Manufacturing Date</label>

                    <div class="col-lg-10">
                    {{ form.mnf_date.errors }}
                    {{ form.mnf_date }}
                    </div>
                </div>

                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Expiry Date</label>

                    <div class="col-lg-10">
                    {{ form.exp_date.errors }}
                    {{ form.exp_date }}
                    </div>
                </div>

                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Bar Code</label>

                    <div class="col-lg-10">
                    {{ form.bar_code.errors }}
                    {{ form.bar_code }}
                    </div>
                </div>

               

                <div class="form-group row">
                    <div class="col-lg-12">
                    <a href="{% url 'stockkeeping:stockdatalist' pk=company_details.pk pk3=selectdatefield_details.pk %}" class="btn btn-default" role="button">Cancel </a>
                        {% if not form.instance.pk %}   
                            <button class="btn btn-info pull-right" type="submit" value="Submit">Create</button>
                        {% else %}
                            <button type="submit" class="btn btn-warning pull-right" value="Submit">Update</button>
                        {% endif %}
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>



{% endblock %}