{% extends "clouderp/base.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% block title %}StockItem Details{% endblock %}

{% block content %}



   {% include "snippet_shortcut/shortcut_snippet.html" %}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h3>Compound Unit Details</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
                    </li>
                    <li class="breadcrumb-item">
                        
                        <a href="{% url 'company:list' %}">Company list</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'company:Dashboard' pk=company_details.pk pk3=selectdatefield_details.pk %}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'stockkeeping:compoundlist' pk=company_details.pk pk3=selectdatefield_details.pk %">StockItem List</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>StockItem Details</strong>
                    </li>
                </ol>
           <br>
            <a href="{% url 'stockkeeping:stockdatalist' pk=company_details.pk pk3=selectdatefield_details.pk %}" class="btn btn-success" role="button">Select Stockitem</a>
          
            <a href="{% url 'stockkeeping:stockdatacreate' pk=company_details.pk pk3=selectdatefield_details.pk  %}" class="btn btn-warning" role="button">Create Stockitem</a>

            <a href="{% url 'stockkeeping:closingstock' pk=company_details.pk pk3=selectdatefield_details.pk  %}" class="btn btn-primary" role="button">Stock Summary</a>
           
              {% if not selectdatefield_details %}

                  
                     <button class="btn btn-primary show-form pull-right" data-url="{% url 'accounting_double_entry:datecreate' %}">
                      <span class="glyphicon glyphicon-plus"></span>
                        Select Date Range
                      </button>

                {% else %} 
              
                      <button  class="btn btn-info show-form-update pull-right" data-url="{% url 'accounting_double_entry:dateupdate' pk=selectdatefield_details.pk %}">
                            <span class="glyphicon glyphicon-pencil"></span>
                              Update Period 
                            </button>

                      <a id="book-table-date" class="pull-right" style="padding-top:0.5%">

                      <strong>Selected Period: From</strong>
                       {{ selectdatefield_details.Start_Date|date }}
                        <strong>To</strong>
                         {{ selectdatefield_details.End_Date|date }}  &nbsp;

                      </a> 

                 

                {% endif %}
                </div>
            </div>

        <div class="wrapper wrapper-content animated fadeInRight ecommerce">



            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-content">

                          <div class="table-responsive">
                            
                            <table class="table table-striped" data-page-size="15" id="book-table">

                                <tr>
                                  <th>Stock Name</th>
                                  <th>{{ stockdata_details.stock_name }}</th>
                                </tr>

                                <tr>
                                  <th>Quantity</th>
                                  <th>{{ stockdata_details.Quantity }}</th>
                                </tr>

                                <tr>
                                  <th>Rate</th>
                                  <th>{{ stockdata_details.rate }}</th>
                                </tr>

                                <tr>
                                  <th>Opening Balance</th>
                                  <th>{{ stockdata_details.opening }}</th>
                                </tr>

                                <tr>
                                  <th>Batch No</th>
                                  <th>{{ stockdata_details.batch_no }}</th>
                                </tr>

                                <tr>
                                  <th>Manufacturing Date</th>
                                  <th>{{ stockdata_details.mnf_date }}</th>
                                </tr>

                                <tr>
                                  <th>Expiry Date</th>
                                  <th>{{ stockdata_details.exp_date }}</th>
                                </tr>

                                <tr>
                                  <th>Under</th>
                                  <th>{{ stockdata_details.under }}</th>
                                </tr>

                                {% if stockdata_details.unitsimple %}

                                  <tr>
                                    <th>Unit</th>
                                    <th>{{ stockdata_details.unitsimple }}</th>
                                  </tr>

                                {% else %}
                                  <tr>
                                    <th>Unit</th>
                                    <th>{{ stockdata_details.unitcomplex }}</th>
                                  </tr>

                                {% endif %}

                                <tr>
                                    <th>Rate</th>
                                    <th>{{ stockdata_details.gst_rate }}</th>
                                </tr>

                                <tr>
                                    <th>HSN/SAC</th>
                                    <th>{{ stockdata_details.hsn }}</th>
                                </tr>

                               <tr>
                                  <th>Batch No</th>
                                  <th>{{ stockdata_details.batch_no }}</th>
                                </tr>

                                <tr>
                                  <th>Manufacturing Date</th>
                                  <th>{{ stockdata_details.mnf_date }}</th>
                                </tr>

                                <tr>
                                  <th>Expiry Date</th>
                                  <th>{{ stockdata_details.exp_date }}</th>
                                </tr>


                                <tr>
                                    <th>Bar Code</th>
                                    {% if stockdata_details.bar_code %}
                                      <th>                
                                        <img class="user-image" src="{{ stockdata_details.bar_code.url }}/" alt="Bar-Code">

                                      </th>
                                  {% endif %}
                                </tr>

                            </table>
                          </div>
                            <p><a class='btn btn-warning' href="{% url 'stockkeeping:stockdataupdate' pk1=company_details.pk pk2=stockdata_details.pk pk3=selectdatefield_details.pk %}">Update StockItem</a><a class='btn btn-danger pull-right' href="{% url 'stockkeeping:stockdatadelete' pk=company_details.pk pk2=stockdata_details.pk pk3=selectdatefield_details.pk %}">Delete StockItem</a></p>

                        </div>
                        <br>
                        
                    </div>
                </div>
            </div>


        </div>


<div class="modal inmodal" id="modal-book-date" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content animated flipInY"></div>
</div>
  


{% endblock %}