{% extends "clouderp/base.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% block title %}Stockgroup Delete{% endblock %}

{% block content %}

            {% include "snippet_shortcut/shortcut_snippet.html" %}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h3>Stockgroup list</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
                    </li>
                    <li class="breadcrumb-item">
                        
                        <a href="{% url 'company:list' %}">Company list</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'company:Dashboard' pk=company_details.pk pk3=selectdatefield_details.pk %}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'stockkeeping:stockgrouplist' pk=company_details.pk pk3=selectdatefield_details.pk %}">Stockgroup List</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="{% url 'stockkeeping:stockgroupdetail' pk2=stockgroup.pk pk1=company_details.pk pk3=selectdatefield_details.pk %}">Stockgroup Details</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>Stockgroup Delete</strong>
                    </li>
                </ol>
           <br>
              <a href="{% url 'stockkeeping:stockgrouplist' pk=company_details.pk pk3=selectdatefield_details.pk %}" class="btn btn-success" role="button">Stockgroup List</a>
          
                <a href="{% url 'stockkeeping:stockgroupcreate' pk=company_details.pk pk3=selectdatefield_details.pk  %}" class="btn btn-warning" role="button">Create Stockgroup</a>
           
                </div>
                <div class="col-lg-2">

                </div>
            </div>


        <div class="wrapper wrapper-content animated fadeInRight ecommerce">



            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h1>
                              <strong>Delete {{stockgroup.name }}?</strong>
                            </h1>
                        <form method="post">
                          {% csrf_token %}

                          <input type="submit" class="btn btn-danger" value="Delete">
                          <a class='btn btn-default' href="{% url 'stockkeeping:stockgrouplist' pk=company_details.pk pk3=selectdatefield_details.pk %}">Cancel</a>

                        </form>
                        
                        </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>



{% endblock %}