{% extends "clouderp/base_2.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% block title %}Organisation Member{% endblock %}

{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Organisation Member</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'userprofile:profiledetail' %}">Profile</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'userprofile:organisation_member_list' %}">Organisation Member List</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Organisation Member</strong>
            </li>
        </ol>
    </div>         
</div>
<br>
<div class="col-lg-12">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>Organisation Member</h5>


            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <form method="POST">
            {% csrf_token %}
                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Organisation Name</label>

                    <div class="col-lg-10">
                    {{ organisation_member_details.organisation }}
                    </div>
                </div>
                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Member Name</label>

                    <div class="col-lg-10">

                    {{ organisation_member_details.member_name }}

                    </div>
                </div>

                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Change admin status of this member</label>

                    <div class="col-lg-10">

                    {{ form.is_admin }}

                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-info pull-right" value="Submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<br>
  


{% endblock %}