{% extends "clouderp/base_2.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% block title %}

    Find Purchase Personnel
{% endblock %}

{% block content %}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h2>Find Purchase Personnel</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'company:list' %}">Company list</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'company:company_details' company_pk=company.pk %}">Company Settings</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'company:purchase_personel_list' company_pk=company.pk %}">Purchase Personnel list</a>
                    </li>
                    <li class="breadcrumb-item active">
                    <strong>Find Purchase Personnel</strong>
                    </li>
                </ol>
                <br>
                <a href="{% url 'company:purchase_personel_list' company_pk=company.pk %}" class="btn btn-warning" role="button">View Purchase Personnel list</a> 
                </div>
            </div>
<br>
            <div class="row wrapper border-bottom white-bg page-heading">
            <br>
                <div class="col-lg-12">
                <br>
                    <form method='GET' class="form-horizontal" id="search-form" action="{% url 'company:search_purchase_personel' company_pk=company.pk %}">

                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                          <input  class="form-control" name="q" value="{{request.GET.q}}" placeholder="Search Purchase Personnel Here">
                         
                        </div>
                    
                      <div>

                        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-2 input-group-btn">
                          <button type="submit" class="btn btn-info pull-right">Go</button>
                        </span>

                      </div>


                    </form>
                </div>
            </div>

        <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
        {% for prof in users %}
            <div class="col-lg-3">
                <div class="contact-box center-version">


                    <a href="{% url 'user_profile:specific_profile' pk=prof.pk %}">
                        {% if prof.image %}
                            <img alt="image" class="rounded-circle" src="{{ prof.image.url }}/">
                        {% else %}
                            <img alt="image" class="rounded-circle" src="{% static 'userprofile/download (1).jpg' %}">
                        {% endif %}


                        <h3 class="m-b-xs"><strong>{{ prof.Name }}</strong></h3>

                        <div class="font-bold">{{ prof.user_type }}</div>
                        <address class="m-t-md">
                            {{ prof.permanent_Address }}<br>
                            State: {{ prof.State }}<br>
                            <abbr title="Phone">P:</abbr> {{ prof.Phone_no }}
                        </address>

                    </a>
                    <div class="contact-box-footer">
                        <div class="m-t-xs btn-group">
                            {% if not user in company_details.purchase_personel.all %}
                                  <a href="{% url 'company:add_purchase_personel' company_pk=company.pk pk2=prof.pk %}" class="btn btn-info" role="button"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Add purchase personnel</a>
                                {% else %}
                                  <a href="#" class="btn btn-primary" role="button">Already added</a>
                                {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}

        </div>
        </div>

{% endblock %}