{% extends "clouderp/base_2.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% block title %}Profile{% endblock %}

{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Profile</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'ecommerce_integration:productlist' %}">Product List</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Profile</strong>
            </li>
        </ol>
        <br>
        {% if profile_details.user_type == 'Bussiness User' or profile_details.user_type == 'Data Operators' %}
        <a href="{% url 'user_profile:pro_verify' %}" id="mousehvr" class="btn btn-warning" role="button">Upgrade<span
                onmouseover="Upgrade to professional" class="glyphicon glyphicon-info-sign"></span>

        </a>
        {% else %}
        <a href="{% url 'user_profile:service_create' %}" class="btn btn-warning" role="button">Create Services </a>
        <a href="{% url 'user_profile:case_create' %}" class="btn btn-warning" role="button">Create Achievements</a>
        {% endif %}
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">


    <div class="row m-b-lg m-t-lg">
        <div class="col-md-6">

            <div class="profile-image">
                {% if profile_details.image %}
                <img src="{{ profile_details.image.url }}/" class="rounded-circle circle-border m-b-md" alt="profile">
                {% else %}
                <img src="{% static 'userprofile/download (1).jpg' %}" class="rounded-circle circle-border m-b-md"
                    alt="profile">
                {% endif %}
            </div>
            <div class="profile-info">
                <div class="">
                    <div>
                        <h2 class="no-margins">
                            {{profile_details.full_name}}
                        </h2>
                        <h4>{{profile_details.user_type}}</h4>
                        <a href="{% url 'user_profile:profileupdate' %}" class="btn btn-lg btn-primary"><b>Edit
                                Profile</b></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <table class="table small m-b-xs">
                <tbody>
                    <tr>
                        <td>
                            <strong>{{ blog_count.the_sum }}</strong> Blog{{ blog_count.the_sum|pluralize  }}
                        </td>


                    </tr>
                    <tr>
                        <td>
                            <strong>{{ consultancy_count.the_sum }}</strong>
                            Consultancy{{ consultancy_count.the_sum|pluralize }}
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <strong>{{ post_count.the_sum }}</strong> Post{{ post_count.the_sum|pluralize }}
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <small>Sales in last 24h</small>
            <h2 class="no-margins">206 480</h2>
            <div id="sparkline1"></div>
        </div>


    </div>
    <div class="row">

        <div class="col-lg-3">

            <div class="ibox">
                <div class="ibox-content">
                    <h3>About {{profile_details.full_name}}</h3>

                    <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

                    <p class="text-muted">{{ profile_details.permanent_Address }}</p>

                    <hr>

                    <strong><i class="fa fa-book margin-r-5"></i>Rating</strong>

                    <div class="product-rating">
                        <style type="text/css">
                            .checked {
                                color: orange;
                            }
                        </style>
                        <p>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star-o empty "></span>
                            <span class="fa fa-star-o empty"></span>
                        </p>
                    </div>

                    <hr>
                    {% if profile_details.user_type == 'Professional' %}
                    <strong><i class="fa fa-pencil margin-r-5"></i> Organisation</strong>

                    <p>
                        <span class="text-muted">{{ profile_details.Name.organisation_user.name }}</span>

                    </p>

                    <hr>
                    {% endif %}

                    <strong><i class="fa fa-pencil margin-r-5"></i> Basic Info</strong>

                    <p class="small">
                        {{ profile_details.basic_info }}
                    </p>

                    <hr>

                    <strong><i class="fa fa-trophy margin-r-5"></i><a href="{% url 'user_profile:case_list' %}">Case
                            Achievements</a></strong>

                    <p class="pull-right">{{ case_count }}</p>

                    <hr>
                    <p class="small font-bold">
                        <span><i class="fa fa-circle text-navy"></i> Online status</span>
                    </p>

                </div>
            </div>

        </div>

        <div class="col-lg-5">

            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Activites</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div>
                        <div class="feed-activity-list">


                            {% for consultancy in consultancy_user %}
                            <div class="feed-element">
                                <a href="#" class="float-left">
                                    {% if consultancy.User.profile.image %}
                                    <img alt="image" class="rounded-circle"
                                        src="{{ consultancy.User.profile.image.url }}/">
                                    {% else %}
                                    <img alt="image" class="rounded-circle"
                                        src="{% static 'userprofile/download (1).jpg' %}">
                                    {% endif %}
                                </a>
                                <div class="media-body ">

                                    <strong>{{ consultancy.User }}</strong> Asked a query
                                    <small
                                        class="text-muted">{{ consultancy.Date|date:'h' }}:{{ consultancy.Date|date:'i' }}
                                        {{ consultancy.Date|date:'A' }} - {{ consultancy.Date|timesince }} ago</small>
                                    <div class="well">
                                        {{ consultancy.Questions }}
                                    </div>
                                    <div class="float-right">
                                        <a href="{% url 'consultancy:consultancydetail' pk=consultancy.pk %}"
                                            class="btn btn-xs btn-primary">View Query</a>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            {% for blog in blog_user %}
                            <div class="feed-element">
                                <a href="#" class="float-left">
                                    {% if blog.User.profile.image %}
                                    <img alt="image" class="rounded-circle" src="{{ blog.User.profile.image.url }}/">
                                    {% else %}
                                    <img alt="image" class="rounded-circle"
                                        src="{% static 'userprofile/download (1).jpg' %}">
                                    {% endif %}
                                </a>
                                <div class="media-body ">
                                    <small class="float-right">{{ blog.Date|timesince}} ago</small>
                                    <strong>{{ blog.User }}</strong> Posted a blog <br>
                                    <small class="text-muted">At {{ blog.Date|date:'h' }}:{{ blog.Date|date:'i' }}
                                        {{ blog.Date|date:'A' }}</small>
                                    <div class="photos">
                                        <h3><strong>{{ blog.Blog_title }}</strong></h3>
                                        {% if blog.Blog_image %}
                                        <img alt="image" src="{{ blog.Blog_image.url }}/" height="150" width="350">
                                        {% endif %}
                                        <p>{{ blog.Description|safe|truncatewords:"30"|linebreaks}}</p>
                                    </div>
                                    <div class="float-right">
                                        <a href="{% url 'blog:blogdetail' pk=blog.pk %}"
                                            class="btn btn-xs btn-primary">Read More</a>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>

                        <button class="btn btn-primary btn-block m"><i class="fa fa-arrow-down"></i> Show More</button>

                    </div>

                </div>
            </div>




        </div>
        <div class="col-lg-4 m-b-lg">
            <div id="vertical-timeline" class="vertical-container light-timeline no-margins">
                {% for service in services %}
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-briefcase"></i>
                    </div>

                    <div class="vertical-timeline-content">

                        <table class="table table-bordered table-hover" id="book-table">



                            <tbody>
                                <tr>
                                    <th>
                                        <center>Service Name</center>
                                    </th>
                                    <td>
                                        <center><strong>{{service.service_name}}</strong></center>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <center>Service Details</center>
                                    </th>
                                    <td>
                                        <center>{{service.details}}</center>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <center>Service Type</center>
                                    </th>
                                    <td>
                                        <center>{{service.service_type}}</center>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <center>Duration</center>
                                    </th>
                                    <td>
                                        <center>{{service.duration}}</center>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <center>Service Mode</center>
                                    </th>
                                    <td>
                                        <center>{{service.service_mode}}</center>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <center>Rate</center>
                                    </th>
                                    <th>
                                        <center>{{service.rate}}</center>
                                    </th>
                                </tr>

                            </tbody>

                        </table>
                        {% if forloop.last %}
                        <a class="btn btn-primary btn-block" href="{% url 'user_profile:servicelist' %}">View all
                            Services</a>

                        {% endif %}

                    </div>
                </div>
                {% endfor %}

            </div>

        </div>

    </div>

</div>


{% endblock %}