{% extends "clouderp/base_2.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% block title %}
    Submit Documents
{% endblock %}

{% block content %}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                      <h3>Submit Documents</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
                    </li>
                    <li class="breadcrumb-item"> 
                        <a href="{% url 'userprofile:profiledetail' %}">Profile</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>Submit Documents</strong>
                    </li>
                </ol>
           <br>

           
                </div>

<br>
<div class="col-lg-12">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>Submit Documents</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <form method="POST">
            {% csrf_token %}
                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Product<i class="material-icons" style="font-size:16px;color:red">*</i></label>

                    <div class="col-lg-10">
                    {{ form.product.errors }}
                        {{ form.product }} 
                    </div>
                </div>
                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Phone No</label>

                    <div class="col-lg-10">

                    {{ form.phone_no }}

                    </div>
                </div>

                <div class="form-group row">

                <label class="col-lg-2 col-form-label">E-Mail</label>

                    <div class="col-lg-10">

                    {{ form.e_mail }}

                    </div>
                </div>

                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Upload 1</label>

                    <div class="col-lg-10">

                    {{ form.upload_1 }}

                    </div>
                </div>

                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Upload 2</label>

                    <div class="col-lg-10">

                    {{ form.upload_2 }}

                    </div>
                </div>

                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Upload 3</label>

                    <div class="col-lg-10">

                    {{ form.upload_3 }}

                    </div>
                </div>

               

                <div class="form-group row">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-info pull-right" value="Submit">Submit</button> 
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}