{% extends "clouderp/base.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% block title %}StockItem Details{% endblock %}

{% block content %}



{% include "snippet_shortcut/shortcut_snippet.html" %}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h3>StockItem Unit Details</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
      </li>
      <li class="breadcrumb-item">

        <a href="{% url 'company:list' %}">Company list</a>
      </li>
      <li class="breadcrumb-item">
        <a
          href="{% url 'company:Dashboard' company_pk=company.pk period_selected_pk=period_selected.pk %}">Dashboard</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'stock_keeping:compoundlist' company_pk=company.pk period_selected_pk=period_selected.pk %">StockItem List</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>StockItem Details</strong>
                    </li>
                </ol>
           <br>
            <a href="{% url 'stock_keeping:stockdatalist' company_pk=company.pk period_selected_pk=period_selected.pk %}"
          class="btn btn-success" role="button">Select Stock Item</a>

        <a href="{% url 'stock_keeping:stockdatacreate' company_pk=company.pk period_selected_pk=period_selected.pk  %}"
          class="btn btn-warning" role="button">Create Stock Item</a>

        <a href="{% url 'stock_keeping:closingstock' company_pk=company.pk period_selected_pk=period_selected.pk  %}"
          class="btn btn-primary" role="button">Stock Summary</a>

        <button class="btn btn-info show-form-update pull-right"
          data-url="{% url 'accounting_entry:dateupdate' period_selected_pk=period_selected.pk %}">
          <span class="glyphicon glyphicon-pencil"></span>
          Update Period
        </button>

        <a id="book-table-date" class="pull-right" style="padding-top:0.5%">

          <strong>Selected Period: From</strong>
          {{ period_selected.start_date }}
          <strong>To</strong>
          {{ period_selected.end_date }} &nbsp;

        </a>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">



  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Stock Details</h5>

          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>

          </div>
        </div>
        <div class="ibox-content">

          <div class="table-responsive">

            <table class="table table-striped" data-page-size="15" id="book-table">

              <tr>
                <th>Stock Name</th>
                <th>{{ stock_item.stock_name }}</th>
              </tr>

              {% if stock_item.quantity %}
              <tr>
                <th>Quantity</th>
                <th>{{ stock_item.quantity }}</th>
              </tr>
              {% endif %}

              {% if stock_item.rate %}
              <tr>
                <th>Rate</th>
                <th>{{ stock_item.rate }}</th>
              </tr>
              {% endif %}

              {% if stock_item.opening %}
              <tr>
                <th>Opening Balance</th>
                <th>{{ stock_item.opening }}</th>
              </tr>
              {% endif %}

              {% if stock_item.batch_no %}
              <tr>
                <th>Batch No</th>
                <th>{{ stock_item.batch_no }}</th>
              </tr>
              {% endif %}

              {% if stock_item.mnf_date %}
              <tr>
                <th>Manufacturing Date</th>
                <th>{{ stock_item.mnf_date }}</th>
              </tr>
              {% endif %}

              {% if stock_item.exp_date %}
              <tr>
                <th>Expiry Date</th>
                <th>{{ stock_item.exp_date }}</th>
              </tr>
              {% endif %}

              {% if stock_item.under %}
              <tr>
                <th>Under</th>
                <th>{{ stock_item.under }}</th>
              </tr>
              {% endif %}

              {% if stock_item.simple_unit %}

              <tr>
                <th>Unit</th>
                <th>{{ stock_item.simple_unit }}</th>
              </tr>

              {% else %}
              <tr>
                <th>Unit</th>
                <th>{{ stock_item.compound_unit }}</th>
              </tr>

              {% endif %}

              {% if stock_item.hsn  %}
              <tr>
                <th>HSN/SAC</th>
                <th>{{ stock_item.hsn }}</th>
              </tr>
              {% endif %}

              {% if stock_item.batch_no  %}
              <tr>
                <th>Batch No</th>
                <th>{{ stock_item.batch_no }}</th>
              </tr>
              {% endif %}

              {% if stock_item.mnf_date  %}
              <tr>
                <th>Manufacturing Date</th>
                <th>{{ stock_item.mnf_date }}</th>
              </tr>
              {% endif %}

              {% if stock_item.exp_date  %}
              <tr>
                <th>Expiry Date</th>
                <th>{{ stock_item.exp_date }}</th>
              </tr>
              {% endif %}

              {% if stock_item.bar_code %}
              <tr>
                <th>Bar Code</th>
                <th>
                  <img class="user-image" src="{{ stock_item.bar_code.url }}/" alt="Bar-Code">
                </th>
              </tr>
              {% endif %}

              <tr>
                <th>Taxability</th>
                <th>{{ stock_item.taxability }}</th>
              </tr>

              {% if stock_item.integrated_tax != 0 %}
              <tr>
                <th>Integrated Tax Rate</th>
                <th>{{ stock_item.integrated_tax }}&nbsp;%</th>
              </tr>
              {% endif %}

              {% if stock_item.central_tax != 0 %}
              <tr>
                <th>Central Tax Rate</th>
                <th>{{ stock_item.central_tax }}&nbsp;%</th>
              </tr>
              {% endif %}

              {% if stock_item.state_tax != 0 %}
              <tr>
                <th>State Tax Rate</th>
                <th>{{ stock_item.state_tax }}&nbsp;%</th>
              </tr>
              {% endif %}

              {% if stock_item.cess != 0 %}
              <tr>
                <th>Cess Rate</th>
                <th>{{ stock_item.cess }}&nbsp;%</th>
              </tr>
              {% endif %}

            </table>
          </div>
          <p><a class='btn btn-warning'
              href="{% url 'stock_keeping:stockdataupdate' company_pk=company.pk stock_item_pk=stock_item.pk period_selected_pk=period_selected.pk %}">Update
              StockItem</a><a class='btn btn-danger pull-right'
              href="{% url 'stock_keeping:stockdatadelete' company_pk=company.pk stock_item_pk=stock_item.pk period_selected_pk=period_selected.pk %}">Delete
              StockItem</a></p>

        </div>
        <br>

      </div>
    </div>
  </div>


</div>


<div class="modal inmodal" id="modal-book-date" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated flipInY"></div>
  </div>



  {% endblock %}