{% for group in ledgergroup_list %}
<tr>

  <td><a
      href="{% url 'accounting_entry:groupdetail' company_pk=company.pk ledger_group_pk=group.pk period_selected_pk=period_selected.pk %}">{{forloop.counter}}</a>
  </td>

  <td><a
      href="{% url 'accounting_entry:groupdetail' company_pk=company.pk ledger_group_pk=group.pk period_selected_pk=period_selected.pk %}">{{group.group_name}}</a>
  </td>

  <td><a
      href="{% url 'accounting_entry:groupdetail' company_pk=company.pk ledger_group_pk=group.pk period_selected_pk=period_selected.pk %}">{{group.self_group}}</a>
  </td>

  <td>
    <center>
      <button class="btn btn-danger show-form-delete"
        data-url="{% url 'accounting_entry:groupdelete' company_pk=company.pk ledger_group_pk=group.pk period_selected_pk=period_selected.pk %}">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </center>

  </td>

</tr>

{% endfor %}