{% extends "clouderp/base.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% block title %}Journal Details{% endblock %}

{% block content %}

{% include "snippet_shortcut/shortcut_snippet.html" %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h3>Journal Details</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
            </li>
            <li class="breadcrumb-item">

                <a href="{% url 'company:list' %}">Company list</a>
            </li>
            <li class="breadcrumb-item">
                <a
                    href="{% url 'company:Dashboard' company_pk=company.pk period_selected_pk=period_selected.pk %}">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'accounting_entry:list' company_pk=company.pk period_selected_pk=period_selected.pk %}">Journal
                    List</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Journal Details</strong>
            </li>
        </ol>
        <br>
        <a href="{% url 'accounting_entry:list' company_pk=company.pk period_selected_pk=period_selected.pk  %}"
            class="btn btn-success" role="button">Select Journal </a>
        <a href="{% url 'accounting_entry:create' company_pk=company.pk period_selected_pk=period_selected.pk %}"
            class="btn btn-warning" role="button">Create Journal</a>

        <button class="btn btn-info show-form-update pull-right"
            data-url="{% url 'accounting_entry:dateupdate' period_selected_pk=period_selected.pk %}">
            <span class="glyphicon glyphicon-pencil"></span>
            Update Period
        </button>

        <a id="book-table-date" class="pull-right" style="padding-top:0.5%">

            <strong>Selected Period: From</strong>
            {{ period_selected.start_date|date }}
            <strong>To</strong>
            {{ period_selected.end_date|date }} &nbsp;

        </a>

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight ecommerce">



    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-hover" data-page-size="15" id="book-table">
                            <tr>
                                <th></th>

                                <th>
                                    <center>Date</center>
                                </th>
                                <th>
                                    <center>Particulars</center>
                                </th>
                                <th>
                                    <center>Lf</center>
                                </th>
                                <th>
                                    <center>Debit</center>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <center><strong>By</strong></center>
                                </th>
                                <td>
                                    <center>{{journal_voucher.voucher_date}}</center>
                                </td>
                                <td>
                                    <center>{{journal_voucher.dr_ledger}}</center>
                                </td>
                                {% if journal_voucher.voucher_id == None %}
                                <td>
                                    <center>{{journal_voucher.id}}</center>
                                </td>
                                {% else %}
                                <td>
                                    <center>{{journal_voucher.voucher_id}}</center>
                                </td>
                                {% endif %}
                                <td>
                                    <center>{{journal_voucher.amount}}</center>
                                </td>

                            </tr>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-hover" data-page-size="15" id="book-table">
                            <tr>
                                <th></th>

                                <th>
                                    <center>Date</center>
                                </th>
                                <th>
                                    <center>Particulars</center>
                                </th>
                                <th>
                                    <center>Lf</center>
                                </th>
                                <th>
                                    <center>Credit</center>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <center><strong>To</strong></center>
                                </th>

                                <td>
                                    <center>{{journal_voucher.voucher_date}}</center>
                                </td>
                                <td>
                                    <center>{{journal_voucher.cr_ledger}}</center>
                                </td>
                                {% if journal_voucher.voucher_id == None %}
                                <td>
                                    <center>{{journal_voucher.id}}</center>
                                </td>
                                {% else %}
                                <td>
                                    <center>{{journal_voucher.voucher_id}}</center>
                                </td>
                                {% endif %}
                                <td>
                                    <center>{{journal_voucher.amount}}</center>
                                </td>

                            </tr>
                        </table>
                    </div>

                    <hr>
                    <p><a class='btn btn-warning'
                            href="{% url 'accounting_entry:update' company_pk=company.pk journal_voucher_pk=journal_voucher.pk period_selected_pk=period_selected.pk %}">Update
                            journal</a></p>
                    <button class='btn btn-default pull-right' onclick="goBack()">Go Back</button>

                </div>
            </div>
        </div>
    </div>


</div>



<div class="modal inmodal" id="modal-book" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn"></div>
    </div>
</div>

<div class="modal inmodal" id="modal-book-date" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY"></div>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    {% endblock %}