{% extends "clouderp/base.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% block title %}Group details{% endblock %}

{% block content %}



{% include "snippet_shortcut/shortcut_snippet.html" %}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h3>Group Details</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
      </li>
      <li class="breadcrumb-item">

        <a href="{% url 'company:list' %}">Company list</a>
      </li>
      <li class="breadcrumb-item">
        <a
          href="{% url 'company:Dashboard' company_pk=company.pk period_selected_pk=period_selected.pk %}">Dashboard</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'accounting_entry:grouplist' company_pk=company.pk period_selected_pk=period_selected.pk %}">Group
          list</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Group Details</strong>
      </li>
    </ol>
    <br>
    <a href="{% url 'accounting_entry:grouplist' company_pk=company.pk period_selected_pk=period_selected.pk %}"
      class="btn btn-success" role="button">Select Group </a>
    <a href="{% url 'accounting_entry:groupcreate' company_pk=company.pk period_selected_pk=period_selected.pk %}"
      class="btn btn-warning" role="button">Create Group</a>

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">



  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-content">

          <div class="table-responsive">

            <table class="table table-striped" data-page-size="15" id="book-table">
              <tr>
                <th>Group Name</th>
                <th>{{ ledger_group.group_name }}</th>
              </tr>

              <tr>
                <th>Under</th>
                <th>{{ ledger_group.self_group }}</th>
              </tr>

            </table>
          </div>
          <p><a class='btn btn-warning'
              href="{% url 'accounting_entry:groupupdate' company_pk=company.pk ledger_group_pk=ledger_group.pk period_selected_pk=period_selected.pk %}">Update
              Group</a>
            <button class='btn btn-default pull-right' onclick="goBack()">Go Back</button>
          </p>
        </div>
        <br>

      </div>
    </div>
  </div>


</div>


<div class="modal inmodal" id="modal-book" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn"></div>
  </div>
</div>

<script>
  function goBack() {
    window.history.back();
  }
</script>



{% endblock %}