{% extends "clouderp/base.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% load humanize %}
{% block title %}Trial Balance{% endblock %}

{% block content %}

{% include "snippet_shortcut/shortcut_snippet.html" %}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h3>Trial Balance</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
      </li>
      <li class="breadcrumb-item">

        <a href="{% url 'company:list' %}">Company list</a>
      </li>
      <li class="breadcrumb-item">
        <a
          href="{% url 'company:Dashboard' company_pk=company.pk period_selected_pk=period_selected.pk %}">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Trial Balance</strong>
      </li>
    </ol>
    <br>


    <button class="btn btn-info show-form-update pull-right"
      data-url="{% url 'accounting_entry:dateupdate' period_selected_pk=period_selected.pk %}">
      <span class="glyphicon glyphicon-pencil"></span>
      Update Period
    </button>

    <a id="book-table-date" class="pull-right" style="padding-top:0.5%">
      <strong>Selected Period: From</strong>
      {{ period_selected.start_date|date }}
      <strong>To</strong>
      {{ period_selected.end_date|date }} &nbsp;
    </a>

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">





  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div id="printableArea">
          <div class="ibox-title">
            <h2>
              <center><strong>Trial Balance</strong></center>
            </h2>
          </div>
          <div class="ibox-content">

            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover" data-page-size="15" id="book-table">
                <thead>

                  <tr>
                    <th></th>
                    <th colspan="2">
                      <center>Opening Balance:</center>
                    </th>

                    <th colspan="2">
                      <center>Closing Balance:</center>
                    </th>
                  </tr>

                  <tr>

                    <th>
                      <center>Particulars</center>
                    </th>
                    <th>Debit</th>
                    <th>Credit</th>
                    <th>Debit</th>
                    <th>Credit</th>

                  </tr>
                </thead>


                <tbody>
                  {% for grps in groups %}
                    {% if grps.group_name == 'Current Assets' %}
                      <tr>
                        {% if total_current_asset_closing_debit != 0 or total_current_asset_closing_credit != 0 %}
                          <th><center>{{ grps.group_name }}</center></th>
                          <th><center>{{ total_current_asset_opening_debit|abs|floatformat:2 }}</center></th>
                          <th><center>{{ total_current_asset_opening_credit|abs|floatformat:2 }}</center></th>
                          <th><center>{{ total_current_asset_closing_debit|abs|floatformat:2 }}</center></th>
                          <th><center>{{ total_current_asset_closing_credit|abs|floatformat:2 }}</center></th>
                        {% endif %}
                      </tr>
                    {% else %}
                      <tr>
                        {% if grps.total_debit_closing_final != 0 or grps.total_credit_closing_final != 0 %}
                          <th><center>{{ grps.group_name }}</center></th>

                          {% if grps.total_credit_opening_final < 0 %}
                            <th><center>{{ grps.total_debit_opening_final|sub:grps.total_credit_opening_final|abs|floatformat:2 }}</center></th>
                          {% elif grps.total_debit_opening_final > 0 %}
                            <th><center>{{ grps.total_debit_opening_final|abs|floatformat:2 }}</center></th>
                          {% else %}
                            <th><center></center></th>
                          {% endif %}

                          {% if grps.total_debit_opening_final < 0 %}
                            <th><center>{{ grps.total_credit_opening_final|sub:grps.total_debit_opening_final|abs|floatformat:2 }}</center></th>
                          {% elif grps.total_credit_opening_final > 0 %}
                            <th><center>{{ grps.total_credit_opening_final|abs|floatformat:2 }}</center></th>
                          {% else %}
                            <th><center></center></th>
                          {% endif %}

                          {% if grps.total_credit_closing_final < 0 %}
                            <th><center>{{ grps.total_debit_closing_final|sub:grps.total_credit_closing_final|abs|floatformat:2 }}</center></th>
                          {% elif grps.total_debit_closing_final > 0 %}
                            <th><center>{{ grps.total_debit_closing_final|abs|floatformat:2 }}</center></th>
                          {% else %}
                            <th><center></center></th>
                          {% endif %}

                          {% if grps.total_debit_closing_final < 0 %}
                            <th><center>{{ grps.total_credit_closing_final|sub:grps.total_debit_closing_final|abs|floatformat:2  }}</center></th>
                          {% elif grps.total_credit_closing_final > 0 %}
                            <th><center>{{ grps.total_credit_closing_final|abs|floatformat:2  }}</center></th>
                          {% else %}
                            <th><center></center></th>
                          {% endif %}
                        {% endif %}
                      </tr>
                    {% endif %}
                    
                  {% endfor %}

                  <tr>
                    <th>
                      <center>Diffrence in opening Balance</center>
                    </th>
                    {% if grand_total_debit_opening_with_stock > grand_total_credit_opening_with_stock %}
                      <th>
                        <center></center>
                      </th>

                      <th><center>{{ difference_in_opening_balance|abs|floatformat:2 }}</center></th>
                      <th>
                      <center></center>
                    </th>
                    <th>
                      <center>{{ difference_in_opening_balance|abs|floatformat:2 }}</center>
                    </th>
                    {% else %}
                      <th>
                        <center>{{ difference_in_opening_balance|abs|floatformat:2 }}</center>
                      </th>

                      <th><center></center></th>
                    <th>
                      <center>{{ difference_in_opening_balance|abs|floatformat:2 }}</center>
                    </th>
                    <th>
                      <center></center>
                    </th>
                    {% endif %}  
                  </tr>



                  <tr>
                    <th>
                      <center>Grand Total</center>
                    </th>
                    <th>
                      <center>{{ grand_total_debit_opening_final|abs|floatformat:2 }}</center>
                    </th>

                    <th><center>{{ grand_total_credit_opening_final|abs|floatformat:2 }}</center></th>


                    <th>
                      <center>{{ grand_total_debit_closing_final|floatformat:2 }}</center>
                    </th>

                    <th>
                      <center>{{ grand_total_credit_closing_final|abs|floatformat:2 }}</center>
                    </th>
                  </tr>


                </tbody>

              </table>


            </div>

          </div>
        </div>
        <div class="ibox-content">
          <input class='btn btn-info' type="button" onclick="printDiv('printableArea')" value="Print" />
        </div>

      </div>
    </div>
  </div>

</div>

<div class="modal inmodal" id="modal-book-date" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated flipInY"></div>
  </div>

  <script type="text/javascript">

    function printDiv(divName) {
      var printContents = document.getElementById(divName).innerHTML;
      var originalContents = document.body.innerHTML;

      document.body.innerHTML = printContents;

      window.print();

      document.body.innerHTML = originalContents;
    }
  </script>
  {% endblock %}