{% extends "clouderp/base.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% load humanize %}
{% block title %}Stock Summary{% endblock %}

{% block content %}

{% include "snippet_shortcut/shortcut_snippet.html" %}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h3>Stock Summary</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
      </li>
      <li class="breadcrumb-item">

        <a href="{% url 'company:list' %}">Company list</a>
      </li>
      <li class="breadcrumb-item">
        <a
          href="{% url 'company:Dashboard' company_pk=company.pk period_selected_pk=period_selected.pk %}">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Stock Summary</strong>
      </li>
    </ol>
    <br>
    <a href="{% url 'stock_keeping:stockdatalist' company_pk=company.pk period_selected_pk=period_selected.pk %}"
      class="btn btn-success" role="button">Select Stock Item</a>

    <a href="{% url 'stock_keeping:stockdatacreate' company_pk=company.pk period_selected_pk=period_selected.pk  %}"
      class="btn btn-warning" role="button">Create Stock Item</a>
    <button class="btn btn-info show-form-update pull-right"
      data-url="{% url 'accounting_entry:dateupdate' period_selected_pk=period_selected.pk %}">
      <span class="glyphicon glyphicon-pencil"></span>
      Update Period
    </button>

    <a id="book-table-date" class="pull-right" style="padding-top:0.5%">

      <strong>Selected Period: From</strong>
      {{ period_selected.start_date|date }}
      <strong>To</strong>
      {{ period_selected.end_date|date }} &nbsp;

    </a>

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">



  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-content">

          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables-example" data-page-size="15"
              id="book-table">
              <thead>

                <tr>
                  <th></th>
                  <th colspan="3">
                    <center>Closing Balance</center>
                  </th>
                </tr>

                <tr>

                  <th>
                    <center>Particulars</center>
                  </th>
                  <th>Total Quantity</th>
                  <th>Avg Rate</th>
                  <th>Value(&#8377)</th>

                </tr>
              </thead>
              <tbody>
                {% for stockdata in closing_stock %}
                
                <tr>

                  <th><a
                      href="{% url 'stock_keeping:stockmonthly' company_pk=company.pk stock_item_pk=stockdata.pk period_selected_pk=period_selected.pk %}">{{ stockdata.stock_name }}</a>
                  </th>
                  <td>{{ stockdata.closing_quantity|abs|floatformat:0 }}</td>

                  {% if stockdata.closing_quantity == 0 %}
                  <td>{{ stockdata.closing_balance|abs }}</td>
                  {% else %}
                  <td>{{ stockdata.closing_balance|div:stockdata.closing_quantity|abs|floatformat:2 }}</td>
                  {% endif %}

                  <td>{{ stockdata.closing_balance|abs|floatformat:2 }}</td>
                </tr>

                {% endfor %}

              </tbody>

              <tfoot>
                <tr>
                  <td colspan="6">
                    <ul class="pagination float-right"></ul>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>

<div class="modal inmodal" id="modal-book-date" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated flipInY"></div>
  </div>

  {% endblock %}