{% extends "clouderp/base.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% load humanize %}

{% block title %}Ledger month - {{ m }}{% endblock %}

{% block content %}

            {% include "snippet_shortcut/shortcut_snippet.html" %}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h3>Ledger month - {{ m }}</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
                    </li>
                    <li class="breadcrumb-item">
                        
                        <a href="{% url 'company:list' %}">Company list</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'company:Dashboard' pk=company_details.pk pk3=selectdatefield_details.pk %}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'accounting_double_entry:ledgerdetailmonthly' pk=company_details.pk pk2=ledger1_details.pk pk3=selectdatefield_details.pk %}">Ledger Monthly Summary</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>Ledger month - {{ m }}</strong>
                    </li>
                </ol>
           <br>
          
            <a href="{% url 'accounting_double_entry:ledgerdetailmonthly' pk=company_details.pk pk2=ledger1_details.pk pk3=selectdatefield_details.pk %}" class="btn btn-primary" role="button">Ledger Monthly</a>
           
              {% if not selectdatefield_details %}

                  
                     <button class="btn btn-primary show-form pull-right" data-url="{% url 'accounting_double_entry:datecreate' %}">
                      <span class="glyphicon glyphicon-plus"></span>
                        Select Date Range
                      </button>

                {% else %} 
              
  
                            <button  class="btn btn-info show-form-update pull-right" data-url="{% url 'accounting_double_entry:dateupdate' pk=selectdatefield_details.pk %}">
                            <span class="glyphicon glyphicon-pencil"></span>
                              Update Period 
                            </button>

                      <a id="book-table-date" class="pull-right" style="padding-top:0.5%">

                      <strong>Selected Period: From</strong>
                       {{ selectdatefield_details.Start_Date|date }}
                        <strong>To</strong>
                         {{ selectdatefield_details.End_Date|date }}  &nbsp;

                      </a> 

                 

                {% endif %} 
                </div>
            </div>

        <div class="wrapper wrapper-content animated fadeInRight ecommerce">



            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                    <div class="ibox-title">
                            <h2><center><strong>{{ ledger1_details.name }}</strong></center></h2>
                        </div>
                        <div class="ibox-content">

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTables-example" data-page-size="15" id="book-table">
                                <thead>
                                <tr>
                                   <th><center>Date</center></th>
                                    <th><center>Particular</center></th>
                                    <th><center>Voucher Type</center></th>
                                    <th><center>Voucher No</center></th>
                                    <th><center>Debit Amount</center></th>
                                    <th><center>Credit Amount</center></th>
                                </tr>
                                </thead>

                                <tbody>
                                {% if new %}
                                    {% for i in new %}
                                        {% for j in i|slice:"0:1" %}
                                            {% if j != None %}
                                            <tr>
                                                <td><center><a href="{% url 'accounting_double_entry:detail' pk1=company_details.pk pk2=j.pk pk3=selectdatefield_details.pk %}">{{j.Date}}</a></center></td>
                                                <td><center><a href="{% url 'accounting_double_entry:detail' pk1=company_details.pk pk2=j.pk pk3=selectdatefield_details.pk %}">{{j.To}}</a></center></td>
                                                <td><center><a href="{% url 'accounting_double_entry:detail' pk1=company_details.pk pk2=j.pk pk3=selectdatefield_details.pk %}">{{j.voucher_type}}</a></center></td>
                                                {% if j.voucher_id == None %}
                                                                    
                                                    <td><center><a href="{% url 'accounting_double_entry:detail' pk1=company_details.pk pk2=j.pk pk3=selectdatefield_details.pk %}">{{j.id}}</a></center></td>
                                                {% else %}
                                                    
                                                    <td><center><a href="{% url 'accounting_double_entry:detail' pk1=company_details.pk pk2=j.pk pk3=selectdatefield_details.pk %}">{{j.voucher_id}}</a></center></td>

                                                {% endif %}
                                                <td><center><a href="{% url 'accounting_double_entry:detail' pk1=company_details.pk pk2=j.pk pk3=selectdatefield_details.pk %}">{{ j.Debit|abs|floatformat:2 }}</a></center></td>
                                                <td><center><a href="{% url 'accounting_double_entry:detail' pk1=company_details.pk pk2=j.pk pk3=selectdatefield_details.pk %}"></a></center></td>
                                            </tr>
                                                
                                            {% endif %}
                                        {% endfor %}

                                        {% for k in i|slice:"1:2" %}
                                            {% if k != None %}
                                            <tr>
                                               <td><center><a href="{% url 'accounting_double_entry:detail' pk1=company_details.pk pk2=k.pk pk3=selectdatefield_details.pk %}">{{k.Date}}</a></center></td>
                                                <td><center><a href="{% url 'accounting_double_entry:detail' pk1=company_details.pk pk2=k.pk pk3=selectdatefield_details.pk %}">{{k.By}}</a></center></td>
                                                <td><center><a href="{% url 'accounting_double_entry:detail' pk1=company_details.pk pk2=k.pk pk3=selectdatefield_details.pk %}">{{k.voucher_type}}</a></center></td>
                                                {% if k.voucher_id == None %}
                                                                    
                                                    <td><center><a href="{% url 'accounting_double_entry:detail' pk1=company_details.pk pk2=k.pk pk3=selectdatefield_details.pk %}">{{k.id}}</a></center></td>
                                                {% else %}
                                                    
                                                    <td><center><a href="{% url 'accounting_double_entry:detail' pk1=company_details.pk pk2=k.pk pk3=selectdatefield_details.pk %}">{{k.voucher_id}}</a></center></td>

                                                {% endif %}
                                                <td><center><a href="{% url 'accounting_double_entry:detail' pk1=company_details.pk pk2=k.pk pk3=selectdatefield_details.pk %}"></a></center></td>
                                                <td><center><a href="{% url 'accounting_double_entry:detail' pk1=company_details.pk pk2=k.pk pk3=selectdatefield_details.pk %}">{{ k.Credit|abs|floatformat:2 }}</a></center></td> 
                                            </tr>
                                                
                                            {% endif %}
                                        {% endfor %}

                                        {% for l in i|slice:"2:3" %}
                                            {% if l != None %}
                                            <tr>
                                               <td><center><a href="{% url 'accounting_double_entry:pl_detail' pk1=company_details.pk pk2=l.pk pk3=selectdatefield_details.pk %}">{{l.Date}}</a></center></td>
                                                <td><center><a href="{% url 'accounting_double_entry:pl_detail' pk1=company_details.pk pk2=l.pk pk3=selectdatefield_details.pk %}">{{l.To}}</a></center></td>
                                                <td><center><a href="{% url 'accounting_double_entry:pl_detail' pk1=company_details.pk pk2=l.pk pk3=selectdatefield_details.pk %}">{{l.voucher_type}}</a></center></td>
                                                {% if l.voucher_id == None %}
                                                                    
                                                    <td><center><a href="{% url 'accounting_double_entry:pl_detail' pk1=company_details.pk pk2=l.pk pk3=selectdatefield_details.pk %}">{{l.id}}</a></center></td>
                                                {% else %}
                                                    
                                                    <td><center><a href="{% url 'accounting_double_entry:pl_detail' pk1=company_details.pk pk2=l.pk pk3=selectdatefield_details.pk %}">{{l.voucher_id}}</a></center></td>

                                                {% endif %}
                                                <td><center><a href="{% url 'accounting_double_entry:pl_detail' pk1=company_details.pk pk2=l.pk pk3=selectdatefield_details.pk %}">{{ l.Debit|abs|floatformat:2 }}</a></center></td>
                                                <td><center><a href="{% url 'accounting_double_entry:pl_detail' pk1=company_details.pk pk2=l.pk pk3=selectdatefield_details.pk %}"></a></center></td> 
                                            </tr>
                                                
                                            {% endif %}
                                        {% endfor %}

                                        {% for m in i|slice:"3:4" %}
                                            {% if m != None %}
                                            <tr>
                                               <td><center><a href="{% url 'accounting_double_entry:pl_detail' pk1=company_details.pk pk2=m.pk pk3=selectdatefield_details.pk %}">{{m.Date}}</a></center></td>
                                                <td><center><a href="{% url 'accounting_double_entry:pl_detail' pk1=company_details.pk pk2=m.pk pk3=selectdatefield_details.pk %}">{{m.To}}</a></center></td>
                                                <td><center><a href="{% url 'accounting_double_entry:pl_detail' pk1=company_details.pk pk2=m.pk pk3=selectdatefield_details.pk %}">{{m.voucher_type}}</a></center></td>
                                                {% if m.voucher_id == None %}
                                                                    
                                                    <td><center><a href="{% url 'accounting_double_entry:pl_detail' pk1=company_details.pk pk2=m.pk pk3=selectdatefield_details.pk %}">{{m.id}}</a></center></td>
                                                {% else %}
                                                    
                                                    <td><center><a href="{% url 'accounting_double_entry:pl_detail' pk1=company_details.pk pk2=m.pk pk3=selectdatefield_details.pk %}">{{m.voucher_id}}</a></center></td>

                                                {% endif %}
                                                <td><center><a href="{% url 'accounting_double_entry:pl_detail' pk1=company_details.pk pk2=m.pk pk3=selectdatefield_details.pk %}"></a></center></td>
                                                <td><center><a href="{% url 'accounting_double_entry:pl_detail' pk1=company_details.pk pk2=m.pk pk3=selectdatefield_details.pk %}">{{ m.Debit|abs|floatformat:2 }}</a></center></td> 
                                            </tr>
                                                
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}

                                {% endif %}



                                </tbody>

                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <th>Opening Balance</th>
                                        <th><center>{{ opening_balance|abs|floatformat:2 }}</center></th>
                                        <th></th>

                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <th></th>
                                        <th>Current total</th>
                                        <th><center>{{ total_debitcb|abs|floatformat:2  }}</center></th>
                                        <th><center>{{ total_creditcb|abs|floatformat:2  }}</center></th>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <th>Closing Balance</th>
                                        <th><center>{{ closing_balance|abs|floatformat:2  }}</center></th>
                                        <th></th>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <button class='btn btn-default pull-right' onclick="goBack()">Go Back</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>


<div class="modal inmodal" id="modal-book-date" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content animated flipInY"></div>
</div>

<script>
function goBack() {
  window.history.back();
}
</script>

{% endblock %}