{% extends "clouderp/base.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% block title %}Delete Sales Invoice{% endblock %}

{% block content %}

            {% include "snippet_shortcut/shortcut_snippet.html" %}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h3>Sales Invoice</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
                    </li>
                    <li class="breadcrumb-item">
                        
                        <a href="{% url 'company:list' %}">Company list</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'company:Dashboard' company_pk=company.pk period_selected_pk=period_selected.pk %}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'accounts_mode_voucher:saleslist' company_pk=company.pk period_selected_pk=period_selected.pk %}">Sales List</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="{% url 'accounts_mode_voucher:salesdetail' sales_pk=salevoucheraccounts.pk company_pk=company.pk period_selected_pk=period_selected.pk %}">Sales Invoice</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>Delete Sales Invoice</strong>
                    </li>
                </ol>
           <br>
                <a href="{% url 'accounts_mode_voucher:saleslist' company_pk=company.pk period_selected_pk=period_selected.pk %}" class="btn btn-success" role="button">Select Sales Invoice</a>
          
                <a href="{% url 'accounts_mode_voucher:salescreate' company_pk=company.pk period_selected_pk=period_selected.pk  %}" class="btn btn-warning" role="button">Create Sales Invoice</a>
           
                </div>
            </div>


        <div class="wrapper wrapper-content animated fadeInRight ecommerce">



            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h1>
                              <strong>Delete {{ salevoucheraccounts.Name }}?</strong>
                            </h1>
                        <form method="post">
                          {% csrf_token %}

                          <input type="submit" class="btn btn-danger" value="Delete">
                          <a class='btn btn-default' href="{% url 'accounts_mode_voucher:salesdetail' sales_pk=salevoucheraccounts.pk company_pk=company.pk period_selected_pk=period_selected.pk %}">Cancel</a>

                        </form>
                        
                        </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>



{% endblock %}