{% extends "clouderp/base_2.html" %}
{% load staticfiles %}

{% block title %}Help &amp; Support{% endblock %}

{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>Help and Support</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'helpandsupport:CategoriesList' %}"><strong>Help &amp; Support</strong></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'helpandsupport:CategoriesList' %}"><strong>Categories</strong></a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>{{object.Title}}</strong>
                    </li>
                </ol>
                <br>
                       
            </div>
</div>



    <div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>&nbsp; {{ object.Title }}</h5>
                            <small class="col-md-2">
                                {{ object.desc }}
                            </small>
                        </div>
                        <div class="ibox-content">

                            <div class="m-b-lg">
                                <form method='GET' class="form-horizontal" id="search-form">
                                <div class="input-group input-group-sm">
                                    <input  class="form-control" name="q" value="{{request.GET.q}}" placeholder="Search">
                                    <div class="input-group-append">
                                        <button class="btn btn-white" type="submit">Search</button>
                                    </div>
                                </div>
                                </form>

                            </div>

                            <div class="table-responsive">
                            <table class="table table-hover issue-tracker" id="book-table">
                                <tbody>

                                    {% for obj in object.category.all %}
                                        <tr> 
                                            <td>
                                                <span class="label label-primary">#</span>
                                            </td>
                                            <td>
                                                <a href="{% url 'helpandsupport:ArticleDetail' slug1=object.slug slug=obj.slug %}">
                                                    {{ obj.Article_title }}
                                                </a>

                                                <small>
                                                    {{ obj.Article_title }}
                                                </small>
                                            </td>
                                            
                                           
                                            
                                        </tr> 
                                    {% endfor %}

                                
                                
                                </tbody>
                            </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>




{% endblock %}