{% load staticfiles %}
        <div class="row">

        <div class="col-lg-4">
                    <div class="ibox">
                        <div class="ibox-content">
                            <!-- <div class="float-right">
                                <button class="btn btn-white btn-xs" type="button">Model</button>
                                <button class="btn btn-white btn-xs" type="button">Publishing</button>
                                <button class="btn btn-white btn-xs" type="button">Modern</button>
                            </div> -->
                            <div class="text-center">
                                <h3>
                                   <u>Provide your questions here</u> 
                                </h3>
                            </div>
                            <form method="post" class="question_form" action=".">
                                {% csrf_token %}
                                <div class="form-group ">
                                    {{ question_form.text }}
                                </div>
                                <input type="submit" class="btn btn-primary btn-block" value="Submit">

                            </form>
                        </div>
                    </div>
            </div>
                <div class="col-lg-8">

                                    
                                <div class="social-feed-box">
                                    <center><h2><u>Your Questions:</u></h2></center>
                                    {% for obj in article_details.Article.all %} 
                                        <div class="social-avatar">
                                            <a href="" class="float-left">
                                                <img alt="image" src="{% static 'userprofile/download (1).jpg' %}">
                                            </a>
                                            <div class="media-body">
                                                <a href="#">
                                                    {{obj.text}}
                                                </a>
                                                <small class="text-muted">Asked by - {{obj.User}}</small>
                                            </div>
                                        </div>
                                        {% for obj2 in obj.answers.all %}
                                            <div class="social-body">
                                                <p>
                                                    {{ obj2.text }}

                                                </p>
                                                <small class="text-muted">Answered by - Bracketline Pvt Ltd</small>
                                            </div>
                                        {% endfor %}
                                    <hr>
                                    {% endfor %}
                                    </div>

                </div>     
    </div>

</div>
