{% extends "clouderp/base_2.html" %}
{% load staticfiles %}

{% block title %}Help &amp; Support{% endblock %}

{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>Help and Support</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'helpandsupport:CategoriesList' %}"><strong>Help &amp; Support</strong></a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>Categories</strong>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>{{object.Article_Category}}</strong>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>{{object.Article_title}}</strong>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>Add Question</strong>
                    </li>
                </ol>
                <br>
                       
            </div>
</div>


<div class="ibox-content m-b-sm border-bottom">
                            <div class="text-center p-lg">
                                <h2>If you don't find the answer to your question</h2>
                                <span>add your question here </span>
                                
                            </div>
                        </div>

                       

{% endblock %}