{% extends "clouderp/base.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% load humanize %}
{% block title %}Trial Balance Expanded{% endblock %}

{% block content %}

            {% include "snippet_shortcut/shortcut_snippet.html" %}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h3>Trial Balance</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
                    </li>
                    <li class="breadcrumb-item">
                        
                        <a href="{% url 'company:list' %}">Company list</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'company:Dashboard' pk=company_details.pk pk3=selectdatefield_details.pk %}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>Trial Balance</strong>
                    </li>
                </ol>
           <br>
                <a href="{% url 'accounting_double_entry:PandLcond' pk=company_details.pk pk3=selectdatefield_details.pk %}" class="btn btn-success" role="button">Profit & Loss Overview</a>
          
                <a href="{% url 'accounting_double_entry:blsht' pk=company_details.pk pk3=selectdatefield_details.pk %}" class="btn btn-warning" role="button">Balance Sheet Overview</a>

                <a href="{% url 'accounting_double_entry:trialbalcond' pk=company_details.pk pk3=selectdatefield_details.pk  %}" class="btn btn-warning" role="button">Trial Balance Condensed View</a>

                {% if not selectdatefield_details %}

                  
                     <button class="btn btn-primary show-form pull-right" data-url="{% url 'accounting_double_entry:datecreate' %}">
                      <span class="glyphicon glyphicon-plus"></span>
                        Select Date Range
                      </button>

                {% else %} 
              
  
                            <button  class="btn btn-info show-form-update pull-right" data-url="{% url 'accounting_double_entry:dateupdate' pk=selectdatefield_details.pk %}">
                            <span class="glyphicon glyphicon-pencil"></span>
                              Update Period 
                            </button>

                      <a id="book-table-date" class="pull-right" style="padding-top:0.5%">

                      <strong>Selected Period: From</strong>
                       {{ selectdatefield_details.Start_Date|date }}
                        <strong>To</strong>
                         {{ selectdatefield_details.End_Date|date }}  &nbsp;

                      </a> 

                 

                {% endif %}
           
                </div>
            </div>

        <div class="wrapper wrapper-content animated fadeInRight ecommerce">



            
            
                <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                    <div id="printableArea">
                      <div class="ibox-title">
                            <h2><center><strong>Trial Balance</strong></center></h2>
                        </div>
                        <div class="ibox-content">

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" data-page-size="15" id="book-table">
                                <thead>

                                <tr>
                                <th></th>
                                  <th colspan="2"><center>Opening Balance:</center></th>
                   
                                  <th colspan="2"><center>Closing Balance:</center></th>
                                </tr>

                                <tr>

                                 <th><center>Particulars</center></th>
                                 <th>Debit</th>
                                  <th>Credit</th>
                                  <th>Debit</th>
                                   <th>Credit</th> 
                                    
                                </tr>
                                </thead>
                               

                            <tbody>   

                                    {% for group in groups_list %}

                                      {% if group.group_Name == 'Current Assets' %}
                                        {% if group.positive_closing != 0 or group.negative_closing != 0 or qo2 != 0 %}
                                          {% if group.positive_closing != None or group.negative_closing != None %}
                                            
                                              <tr>
                                                <th><center><a href="{% url 'accounting_double_entry:groupdetailsummary' pk=company_details.pk pk2=group.pk pk3=selectdatefield_details.pk %}">{{group.group_Name}}</a></center></th>
                                                {% if group.positive_opening == 0 %}
                                                  {% if qo2 >= 0 %}
                                                  <th>{{ qo2|abs|floatformat:2|intcomma }}</th>
                                                  {% else %}
                                                    <th></th>
                                                  {% endif %}
                                                {% else %}
                                                {% if qo2 >= 0 %}
                                                  <th>{{ group.positive_opening|add:qo2|abs|floatformat:2|intcomma }}</th>
                                                {% else %}
                                                  <th>{{ group.positive_opening|abs|floatformat:2|intcomma }}</th>
                                                {% endif %}
                                                {% endif %}

                                                {% if group.negative_opening == 0 %}
                                                  {% if qo2 < 0 %}
                                                    <th>{{ qo2|abs|floatformat:2|intcomma }}</th>
                                                    {% else %}
                                                      <th></th>
                                                    {% endif %}
                                                {% else %}
                                                  {% if qo2 < 0 %}
                                                    <th>{{ group.negative_opening|add:qo2|abs|floatformat:2|intcomma }}</th>
                                                  {% else %}
                                                      <th>{{ group.negative_opening|abs|floatformat:2|intcomma }}</th>
                                                  {% endif %}
                                                {% endif %}

                                                {% if group.positive_closing == 0 %}
                                                  {% if qo2 >= 0 %}
                                                    <th>{{ qo2|abs|floatformat:2|intcomma }}</th>
                                                  {% else %}
                                                    <th></th>
                                                  {% endif %}
                                                  
                                                {% else %}
                                                  {% if qo2 >= 0 %}
                                                    <th>{{ group.positive_closing|add:qo2|abs|floatformat:2|intcomma }}</th>
                                                  {% else %}
                                                    <th>{{ group.positive_closing|abs|floatformat:2|intcomma }}</th>
                                                  {% endif %}
                                                {% endif %}

                                                {% if group.negative_closing == 0 %}
                                                  {% if qo2 < 0 %}
                                                    <th>{{ qo2|abs|floatformat:2|intcomma }}</th>
                                                  {% else %}
                                                    <th></th>
                                                  {% endif %}
                                                {% else %}
                                                  {% if qo2 < 0 %}
                                                    <th>{{ group.negative_closing|add:qo2|abs|floatformat:2|intcomma }}</th>
                                                  {% else %}
                                                    <th>{{ group.negative_closing|abs|floatformat:2|intcomma }}</th>
                                                  {% endif %}
                                                {% endif %}
                                              </tr>
                                          {% endif %}
                                        {% endif %}
                                      {% else %}
                                        {% if group.positive_closing != 0 or group.negative_closing != 0 %}
                                          {% if group.positive_closing != None or group.negative_closing != None %}
                                            
                                              <tr>
                                                <th><center><a href="{% url 'accounting_double_entry:groupdetailsummary' pk=company_details.pk pk2=group.pk pk3=selectdatefield_details.pk %}">{{group.group_Name}}</a></center></th>
                                                {% if group.positive_opening == 0 %}
                                                  <th></th>
                                                {% else %}
                                                  <th>{{ group.positive_opening|abs|floatformat:2|intcomma }}</th>
                                                {% endif %}
                                                {% if group.negative_opening == 0 %}
                                                  <th></th>
                                                {% else %}
                                                  <th>{{ group.negative_opening|abs|floatformat:2|intcomma }}</th>
                                                {% endif %}

                                                {% if group.positive_closing == 0 %}
                                                  <th></th>
                                                {% else %}
                                                  <th>{{ group.positive_closing|abs|floatformat:2|intcomma }}</th>
                                                {% endif %}

                                                {% if group.negative_closing == 0 %}
                                                  <th></th>
                                                {% else %}
                                                  <th>{{ group.negative_closing|abs|floatformat:2|intcomma }}</th>
                                                {% endif %}
                                              </tr>
                                          {% endif %}
                                        {% endif %}
                                      {% endif %}
                                      {% if group.group_Name == 'Current Assets' %}
                                        {% if group.positive_closing != 0 or group.negative_closing != 0 %}
                                        {% if group.positive_closing != None or group.negative_closing != None %}
                                      <tr>
                                        <th><center>Opening Stock</center></th>
                                              {% if qo2 >= 0 %}
                                                <td>{{ qo2|abs|floatformat:2|intcomma }}</td>
                                                <th></th>
                                              {% else %}
                                                <th></th>
                                                <td>{{ qo2|abs|floatformat:2|intcomma }}</td>
                                              {% endif %}
                                              {% if qo2 > 0 %}
                                                <td>{{ qo2|abs|floatformat:2|intcomma }}</td>
                                                <th></th>
                                              {% else %}
                                                <th></th>
                                                <td>{{ qo2|abs|floatformat:2|intcomma }}</td>
                                              {% endif %}
                                      </tr>
                                      {% endif %}
                                      {% endif %}
                                      {% endif %}
                                      {% for grp in group.master_group.all %}
                                       {% if grp.positive_closing != 0 or grp.negative_closing != 0 %}
                                        {% if grp.positive_closing != None or grp.negative_closing != None %}
                                          <tr>
                                          
                                            <td><center><a href="{% url 'accounting_double_entry:groupdetailsummary' pk=company_details.pk pk2=grp.pk pk3=selectdatefield_details.pk %}">{{grp.group_Name}}</a></center></td>
                                            {% if grp.positive_opening == 0 %}
                                              <th></th>
                                            {% else %}
                                              <td>{{ grp.positive_opening|abs|floatformat:2|intcomma }}</td>
                                            {% endif %}
                                            {% if grp.negative_opening == 0 %}
                                              <th></th>
                                            {% else %}
                                              <td>{{ grp.negative_opening|abs|floatformat:2|intcomma }}</td>
                                            {% endif %}
                                            {% if grp.positive_closing == 0 %}
                                              <th></th>
                                            {% else %}
                                              <td>{{ grp.positive_closing|abs|floatformat:2|intcomma }}</td>
                                            {% endif %}

                                            {% if grp.negative_closing == 0 %}
                                              <th></th>
                                            {% else %}
                                              <td>{{ grp.negative_closing|abs|floatformat:2|intcomma }}</td>
                                            {% endif %}
                                          </tr>
                                        {% endif %}
                                      {% endif %}
                                    {% endfor %}
                                      {% for ledger in group.ledgergroups.all %}
                                        <tr>
                                            <td><center><a href="{% url 'accounting_double_entry:ledgerdetailmonthly' pk=company_details.pk pk2=ledger.pk pk3=selectdatefield_details.pk %}"><em>{{ ledger.name }}</em></a></center></td>
                                            {% if ledger.group1_Name.balance_nature == 'Debit' %}
                                              {% if ledger.Balance_opening == 0 %}
                                                <td></td>
                                                <td></td>
                                              {% else %}
                                                {% if ledger.Balance_opening >= 0 %}
                                                <td>{{ ledger.Balance_opening|abs|floatformat:2|intcomma }}</td>
                                                <td></td>
                                                {% else %}
                                                <td></td>
                                                <td>{{ ledger.Balance_opening|abs|floatformat:2|intcomma }}</td>
                                                {% endif %}
                                              {% endif %}
                                            {% else %}
                                              {% if ledger.Balance_opening == 0 %}
                                                <td></td>
                                                <td></td>
                                              {% else %}
                                                {% if ledger.Balance_opening >= 0 %}
                                                <td></td>
                                                <td>{{ ledger.Balance_opening|abs|floatformat:2|intcomma }}</td>
                                                {% else %}
                                                <td>{{ ledger.Balance_opening|abs|floatformat:2|intcomma }}</td>
                                                <td></td>
                                                {% endif %}
                                              {% endif %}
                                            {% endif %}
                                            {% if ledger.group1_Name.balance_nature == 'Debit' %}
                                              {% if ledger.Closing_balance == 0 %}
                                                <td></td>
                                                <td></td>
                                              {% else %}
                                                {% if ledger.Closing_balance >= 0 %}
                                                <td>{{ ledger.Closing_balance|abs|floatformat:2|intcomma }}</td>
                                                <td></td>
                                                {% else %}
                                                <td></td>
                                                <td>{{ ledger.Closing_balance|abs|floatformat:2|intcomma }}</td>
                                                {% endif %}
                                              {% endif %}
                                            {% else %}
                                              {% if ledger.Closing_balance == 0 %}
                                                <td></td>
                                                <td></td>
                                              {% else %}
                                                {% if ledger.Closing_balance >= 0 %}
                                                <td></td>
                                                <td>{{ ledger.Closing_balance|abs|floatformat:2|intcomma }}</td>
                                                {% else %}
                                                <td>{{ ledger.Closing_balance|abs|floatformat:2|intcomma }}</td>
                                                <td></td>
                                                {% endif %}
                                              {% endif %}
                                            {% endif %}
                                          </tr>
                                        {% endfor %}
                                    
                                    {% endfor %}

                                      {% if gs_purchase_total != 0 %}
                                        {% for group in gs_purchase %}
                                          <tr>
                                            <th><center><a href="{% url 'accounting_double_entry:groupdetailsummary' pk=company_details.pk pk2=group.pk pk3=selectdatefield_details.pk %}">{{group.group_Name}}</a></center></th>
                                            {% if group.positive_opening == 0 %}
                                              <th></th>
                                            {% else %}
                                              <td>{{ group.positive_opening|abs|floatformat:2|intcomma }}</td>
                                            {% endif %}
                                            {% if group.negative_opening == 0 %}
                                              <th></th>
                                            {% else %}
                                              <td>{{ group.negative_opening|abs|floatformat:2|intcomma }}</td>
                                            {% endif %}
                                            <th>{{ gs_purchase_total|abs|floatformat:2|intcomma }}</th>
                                            <th></th>
                                          </tr>
                                            {% for ledger in group.ledgergroups.all %}
                                              {% if ledger.Closing_balance != None %}
                                                {% if ledger.Closing_balance != 0 %}
                                                  <tr>
                                                      <td><center><a href="{% url 'accounting_double_entry:ledgerdetailmonthly_2' pk=company_details.pk pk2=ledger.pk pk3=selectdatefield_details.pk %}"><em>{{ ledger.name }}</em></a></center></td>
                                                       {% if ledger.Balance_opening == 0 %}
                                                          <td></td>
                                                          <td></td>
                                                        {% else %}
                                                          {% if ledger.Balance_opening >= 0 %}
                                                          <td>{{ ledger.Balance_opening|abs|floatformat:2|intcomma }}</td>
                                                          <td></td>
                                                          {% else %}
                                                          <td></td>
                                                          <td>{{ ledger.Balance_opening|abs|floatformat:2|intcomma }}</td>
                                                          {% endif %}
                                                        {% endif %}
                                                      <td>{{ ledger.Closing_balance|abs|floatformat:2|intcomma }}</td>
                                                      <td></td>
                                                    </tr>
                                                  {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                      {% endif %}

                                      {% if gs_sales_total != 0 %}
                                        {% for group in gs_sales %}
                                          <tr>
                                            <th><center><a href="{% url 'accounting_double_entry:groupdetailsummary' pk=company_details.pk pk2=group.pk pk3=selectdatefield_details.pk %}">{{group.group_Name}}</a></center></th>
                                            {% if group.positive_opening == 0 %}
                                              <th></th>
                                            {% else %}
                                              <td>{{ group.positive_opening|abs|floatformat:2|intcomma }}</td>
                                            {% endif %}
                                            {% if group.negative_opening == 0 %}
                                              <th></th>
                                            {% else %}
                                              <td>{{ group.negative_opening|abs|floatformat:2|intcomma }}</td>
                                            {% endif %}
                                            <td></td>
                                            <th>{{ gs_sales_total|abs|floatformat:2|intcomma }}</th>
                                          </tr>

                                          {% for ledger in group.ledgergroups.all %}
                                              {% if ledger.Closing_balance != None %}
                                                {% if ledger.Closing_balance != 0 %}
                                                  <tr>
                                                      <td><center><a href="{% url 'accounting_double_entry:ledgerdetailmonthly_2' pk=company_details.pk pk2=ledger.pk pk3=selectdatefield_details.pk %}"><em>{{ ledger.name }}</em></a></center></td>
                                                       {% if ledger.Balance_opening == 0 %}
                                                          <td></td>
                                                          <td></td>
                                                        {% else %}
                                                          {% if ledger.Balance_opening >= 0 %}
                                                          <td>{{ ledger.Balance_opening|abs|floatformat:2|intcomma }}</td>
                                                          <td></td>
                                                          {% else %}
                                                          <td></td>
                                                          <td>{{ ledger.Balance_opening|abs|floatformat:2|intcomma }}</td>
                                                          {% endif %}
                                                        {% endif %}
                                                      <td></td>
                                                      <td>{{ ledger.Closing_balance|abs|floatformat:2|intcomma }}</td>
                                                    </tr>
                                                  {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                      {% endif %}

                                      {% if gs_directexp_total != 0 %}
                                        {% for group in gs_directexp %}
                                          <tr>
                                            <th><center><a href="{% url 'accounting_double_entry:groupdetailsummary' pk=company_details.pk pk2=group.pk pk3=selectdatefield_details.pk %}">{{group.group_Name}}</a></center></th>
                                            {% if group.positive_opening == 0 %}
                                              <th></th>
                                            {% else %}
                                              <th>{{ group.positive_opening|abs|floatformat:2|intcomma }}</th>
                                            {% endif %}
                                            {% if group.negative_opening == 0 %}
                                              <th></th>
                                            {% else %}
                                              <th>{{ group.negative_opening|abs|floatformat:2|intcomma }}</th>
                                            {% endif %}
                                            <th>{{ gs_directexp_total|abs|floatformat:2|intcomma }}</th>
                                            <th></th>
                                            
                                          </tr>

                                        {% for ledger in group.ledgergroups.all %}
                                              {% if ledger.Closing_balance != None %}
                                                {% if ledger.Closing_balance != 0 %}
                                                  <tr>
                                                      <td><center><a href="{% url 'accounting_double_entry:ledgerdetailmonthly_2' pk=company_details.pk pk2=ledger.pk pk3=selectdatefield_details.pk %}"><em>{{ ledger.name }}</em></a></center></td>
                                                       {% if ledger.Balance_opening == 0 %}
                                                          <td></td>
                                                          <td></td>
                                                        {% else %}
                                                          {% if ledger.Balance_opening >= 0 %}
                                                          <td>{{ ledger.Balance_opening|abs|floatformat:2|intcomma }}</td>
                                                          <td></td>
                                                          {% else %}
                                                          <td></td>
                                                          <td>{{ ledger.Balance_opening|abs|floatformat:2|intcomma }}</td>
                                                          {% endif %}
                                                        {% endif %}
                                                      <td>{{ ledger.Closing_balance|abs|floatformat:2|intcomma }}</td>
                                                      <td></td>
                                                    </tr>
                                                  {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                      {% endif %}

                                      {% if gs_directinc_total != 0 %}
                                        {% for group in gs_directinc %}
                                          <tr>
                                            <th><center><a href="{% url 'accounting_double_entry:groupdetailsummary' pk=company_details.pk pk2=group.pk pk3=selectdatefield_details.pk %}">{{group.group_Name}}</a></center></th>
                                            {% if group.positive_opening == 0 %}
                                              <th></th>
                                            {% else %}
                                              <th>{{ group.positive_opening|abs|floatformat:2|intcomma }}</th>
                                            {% endif %}
                                            {% if group.negative_opening == 0 %}
                                              <th></th>
                                            {% else %}
                                              <th>{{ group.negative_opening|abs|floatformat:2|intcomma }}</th>
                                            {% endif %}
                                            <td></td>
                                            <th>{{ gs_directinc_total|abs|floatformat:2|intcomma }}</th>
                                          </tr>
                                          {% for ledger in group.ledgergroups.all %}
                                              {% if ledger.Closing_balance != None %}
                                                {% if ledger.Closing_balance != 0 %}
                                                  <tr>
                                                      <td><center><a href="{% url 'accounting_double_entry:ledgerdetailmonthly_2' pk=company_details.pk pk2=ledger.pk pk3=selectdatefield_details.pk %}"><em>{{ ledger.name }}</em></a></center></td>
                                                      {% if ledger.Balance_opening == 0 %}
                                                          <td></td>
                                                          <td></td>
                                                        {% else %}
                                                          {% if ledger.Balance_opening >= 0 %}
                                                          <td>{{ ledger.Balance_opening|abs|floatformat:2|intcomma }}</td>
                                                          <td></td>
                                                          {% else %}
                                                          <td></td>
                                                          <td>{{ ledger.Balance_opening|abs|floatformat:2|intcomma }}</td>
                                                          {% endif %}
                                                        {% endif %}
                                                      <td></td>
                                                      <td>{{ ledger.Closing_balance|abs|floatformat:2|intcomma }}</td>
                                                    </tr>
                                                  {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                      {% endif %}

                                      {% if gs_indirectexp_total != 0 %}
                                        {% for group in gs_indirectexp %}
                                          <tr>
                                            <th><center><a href="{% url 'accounting_double_entry:groupdetailsummary' pk=company_details.pk pk2=group.pk pk3=selectdatefield_details.pk %}">{{group.group_Name}}</a></center></th>
                                            {% if group.positive_opening == 0 %}
                                              <th></th>
                                            {% else %}
                                              <th>{{ group.positive_opening|abs|floatformat:2|intcomma }}</th>
                                            {% endif %}
                                            {% if group.negative_opening == 0 %}
                                              <th></th>
                                            {% else %}
                                              <th>{{ group.negative_opening|abs|floatformat:2|intcomma }}</th>
                                            {% endif %}
                                            <th>{{ gs_indirectexp_total|abs|floatformat:2|intcomma }}</th>
                                            <td></td>
                                          </tr>
                                          {% for ledger in group.ledgergroups.all %}
                                              {% if ledger.Closing_balance != None %}
                                                {% if ledger.Closing_balance != 0 %}
                                                  <tr>
                                                      <td><center><a href="{% url 'accounting_double_entry:ledgerdetailmonthly_2' pk=company_details.pk pk2=ledger.pk pk3=selectdatefield_details.pk %}"><em>{{ ledger.name }}</em></a></center></td>
                                                      {% if ledger.Balance_opening == 0 %}
                                                          <td></td>
                                                          <td></td>
                                                        {% else %}
                                                          {% if ledger.Balance_opening >= 0 %}
                                                          <td>{{ ledger.Balance_opening|abs|floatformat:2|intcomma }}</td>
                                                          <td></td>
                                                          {% else %}
                                                          <td></td>
                                                          <td>{{ ledger.Balance_opening|abs|floatformat:2|intcomma }}</td>
                                                          {% endif %}
                                                        {% endif %}
                                                      <td>{{ ledger.Closing_balance|abs|floatformat:2|intcomma }}</td>
                                                      <td></td>
                                                    </tr>
                                                  {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                      {% endif %}

                                      {% if gs_indirectinc_total != 0 %}
                                        {% for group in gs_indirectinc %}
                                          <tr>
                                            <th><center><a href="{% url 'accounting_double_entry:groupdetailsummary' pk=company_details.pk pk2=group.pk pk3=selectdatefield_details.pk %}">{{group.group_Name}}</a></center></th>
                                             {% if group.positive_opening == 0 %}
                                              <th></th>
                                            {% else %}
                                              <th>{{ group.positive_opening|abs|floatformat:2|intcomma }}</th>
                                            {% endif %}
                                            {% if group.negative_opening == 0 %}
                                              <th></th>
                                            {% else %}
                                              <th>{{ group.negative_opening|abs|floatformat:2|intcomma }}</th>
                                            {% endif %}
                                            <td></td>
                                            <th>{{ gs_indirectinc_total|abs|floatformat:2|intcomma }}</th>
                                          </tr>

                                          {% for ledger in group.ledgergroups.all %}
                                              {% if ledger.Closing_balance != None %}
                                                {% if ledger.Closing_balance != 0 %}
                                                  <tr>
                                                      <td><center><a href="{% url 'accounting_double_entry:ledgerdetailmonthly_2' pk=company_details.pk pk2=ledger.pk pk3=selectdatefield_details.pk %}"><em>{{ ledger.name }}</em></a></center></td>
                                                       {% if ledger.Balance_opening == 0 %}
                                                          <td></td>
                                                          <td></td>
                                                        {% else %}
                                                          {% if ledger.Balance_opening >= 0 %}
                                                          <td>{{ ledger.Balance_opening|abs|floatformat:2|intcomma }}</td>
                                                          <td></td>
                                                          {% else %}
                                                          <td></td>
                                                          <td>({{ ledger.Balance_opening|abs|floatformat:2|intcomma }})</td>
                                                          {% endif %}
                                                        {% endif %}
                                                      <td></td>
                                                      <td>{{ ledger.Closing_balance|abs|floatformat:2|intcomma }}</td>
                                                    </tr>
                                                  {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                      {% endif %}

                                         {% if ledger_pl_closing != 0 %}
                                            <tr>
                                              <th><center><a href="{% url 'accounting_double_entry:ledgerdetailmonthly_2' pk=company_details.pk pk2=ledger_pl.pk pk3=selectdatefield_details.pk %}"><em>{{ ledger_pl.name }}</em></a></center></th>
                                              {% if ledger_pl_closing < 0 %}
                                                <td>{{ ledger_pl_closing|abs|floatformat:2|intcomma }}</td>
                                                <td></td>
                                              {% else %}
                                                <td></td>
                                                <td>{{ ledger_pl_closing|abs|floatformat:2|intcomma }}</td>
                                              {% endif %}
                                              {% if ledger_pl_closing < 0 %}
                                                <td>{{ ledger_pl_closing|abs|floatformat:2|intcomma }}</td>
                                                <td></td>
                                              {% else %}
                                                <td></td>
                                                <td>{{ ledger_pl_closing|abs|floatformat:2|intcomma }}</td>
                                              {% endif %}
                                            </tr>
                                          {% endif %}



                                           <tr>
                                            <th><center>Difference in Opening Balance</center></th> 
                                            {% if gs_deb_opening > gs_cre_opening %}
                                              <th></th>  
                                              <th>{{ dif_ob|abs|floatformat:2|intcomma }}</th>
                                            {% else %}
                                              <th>{{ dif_ob|abs|floatformat:2|intcomma }}</th>  
                                              <th></th>
                                            {% endif %}
                                            {% if gs_debit > gs_credit %}
                                              <th></th>
                                              <th>{{ difference_ob|abs|floatformat:2|intcomma }}</th>
                                            {% else %}
                                              <th>{{ difference_ob|abs|floatformat:2|intcomma }}</th>
                                              <th></th>
                                            {% endif %} 
                                          </tr>


                                      <tr>
                                      <th><center>Grand Total</center></th>
                                      <th>{{ total_deb|abs|floatformat:2|intcomma }}</th>
                                      <th>{{ total_ceb|abs|floatformat:2|intcomma }}</th>
                                      <th>{{ total_debit|abs|floatformat:2|intcomma }}</th>
                                      <th>{{ total_credit|abs|floatformat:2|intcomma }}</th>
                                      </tr>
                    

                                </tbody>

                            </table>
                            

                        </div>

                        </div>
                        </div>
                        <div class="ibox-content">
                          <input class='btn btn-info' type="button" onclick="printDiv('printableArea')" value="Print" />
                        </div>
                    
                </div>
            </div>
            </div>

        </div>

<div class="modal inmodal" id="modal-book-date" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content animated flipInY"></div>
</div>

<script type="text/javascript">
  
  function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
  }
</script> 
{% endblock %}