{% extends "clouderp/base_2.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% load humanize %}

{% block title %}Leads{% endblock %}

{% block content %}
<div class="wrapper wrapper-content">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>CRM Dashboard</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
                </li>
                <li class="breadcrumb-item">

                    <a href="{% url 'company:list' %}">Company list</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Leads </strong>
                </li>
            </ol>
            <br>
            <a href="{% url 'CRM:crm_accounts' organisation_pk=organisation.pk %}" class="btn btn-primary"
                role="button">Accounts </a>
            <a href="{% url 'CRM:crm_contacts' organisation_pk=organisation.pk %}" class="btn btn-default" role="button">Contacts </a>
            <a href="{% url 'CRM:crm_leads' organisation_pk=organisation.pk %}" class="btn btn-warning"
                role="button">Leads </a>
            <a href="{% url 'company:list' %}" class="btn btn-primary"
                role="button">Opportunities </a>
            <a href="{% url 'company:list' %}" class="btn btn-success"
                role="button">Cases </a>
            <a href="{% url 'company:list' %}" class="btn btn-primary"
                role="button">Documents </a>
            <a href="{% url 'company:list' %}" class="btn btn-success"
                role="button">Sales </a>
            <a href="{% url 'company:list' %}" class="btn btn-default"
                role="button">Tasks </a>
            <a href="{% url 'company:list' %}" class="btn btn-warning"
                role="button">Invoices </a>
            <a href="{% url 'company:list' %}" class="btn btn-primary"
                role="button">Events</a>
            <a href="{% url 'company:list' %}" class="btn btn-success"
                role="button">Team </a>




        </div>
    </div>
    <br>

        <div class="table_container_row row marl ">
            <div class="col-md-12">

              <div class="card">

                <div class="card-body">
                  <div class="card-title text-right">
                    <span class="float-left">Lead - {{lead_obj|length}}</span>
                    <a href="{% url 'CRM:crm_lead_create' organisation_pk=organisation.pk %}" class="btn btn-info">add lead</a>
                  </div>
                  <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example" data-page-size="25" id="book-table">
                            <thead>
                               {% if lead_obj|length > 0 %}
                              <tr class="text-center">
                                  <th data-toggle="true"><center>Sl.</center></th>
                                  <th data-hide="phone"><center> Full Name</center></th>
                                  <th data-hide="all"><center>Status</center></th>
                                  <th data-hide="all"><center>Address</center></th>
                                  <th data-hide="all"><center>Created on</center></th>
                                  <th data-hide="all"><center>Action</center></th>
                              </tr>
                              {% endif %}
                            </thead>

                            <tbody>
                                    {% for lead in lead_obj %}
                                    <tr style="text-align:center;">
                                      <td><a href="#">{{forloop.counter}}</a></td>
                                  
                                      <td><a href="">{{ lead.first_name }} {{ lead.last_name }}</a></td>
                                     
                                      <td><a href=""> {{ lead.status }}</a></td>
                                      <td><a href=""> {{ lead.state }}</a></td>
                                      <td align="center" >{{ lead.created_on }}</td>
                                     
                                     
                                  
                                      <td>
                                      <center>
                                         <a href="{% url 'CRM:crm_lead_detail' organisation_pk=organisation.pk lead_pk=lead.pk %}" class="btn btn-info">View</a>
                                         <a href="{% url 'CRM:crm_lead_update' organisation_pk=organisation.pk lead_pk=lead.pk %}" class="btn btn-primary">Update</a>
                                         <a href="" class="btn btn-danger">Delete</a>
                                      </center>
                                      
                                      </td>
                                  
                                    </tr>
                                  
                                  {% endfor %}

                            </tbody>

                            <tfoot>
                                <tr>
                                    <td colspan="6">
                                        <ul class="pagination float-right"></ul>
                                         {%ifequal lead_obj|length 0 %}
                                        <h6 class="text-center">No Lead Records Found</h6>
                                        {%endifequal%}
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                 
                  
                </div>
              </div>
            </div>
            <br clear="all">
          </div>



</div>


{% endblock %}