{% extends "clouderp/base.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% block title %}
        {% if not form.instance.pk %}
        Create Sales Invoice
        {% else %}
        Update Sales Invoice
        {% endif %}
{% endblock %}

{% block content %}

{% include "snippet_shortcut/shortcut_snippet.html" %}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    {% if not form.instance.pk %}
                        <h3><b>Create Sales Invoice</b></h3>
                    {% else %}
                        <h3><b>Update Sales Invoice</b></h3>
                    {% endif %}
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
                    </li>
                    <li class="breadcrumb-item">
                        
                        <a href="{% url 'company:list' %}">Company list</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'company:Dashboard' pk=company_details.pk pk3=selectdatefield_details.pk %}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">
                    {% if not form.instance.pk %}
                        <strong>Create Sales Invoice</strong>
                    {% else %}
                        <strong>Update Sales Invoice</strong>
                    {% endif %}
                    </li>
                </ol>
           <br>

               <a href="{% url 'stockkeeping:saleslist' pk=company_details.pk pk3=selectdatefield_details.pk %}" class="btn btn-success" role="button">Select Sales Invoice</a>
          

            {% if not selectdatefield_details %}

                  
                     <button class="btn btn-primary show-form pull-right" data-url="{% url 'accounting_double_entry:datecreate' %}">
                      <span class="glyphicon glyphicon-plus"></span>
                        Select Date Range
                      </button>

                {% else %} 
              
  
                    <button  class="btn btn-info show-form-update pull-right" data-url="{% url 'accounting_double_entry:dateupdate' pk=selectdatefield_details.pk %}">
                            <span class="glyphicon glyphicon-pencil"></span>
                              Update Period 
                            </button>

                      <a id="book-table-date" class="pull-right" style="padding-top:0.5%">

                      <strong>Selected Period: From</strong>
                       {{ selectdatefield_details.Start_Date|date }}
                        <strong>To</strong>
                         {{ selectdatefield_details.End_Date|date }}  &nbsp;

                      </a>  

                 

                {% endif %}
                </div>
            </div>

<div class="wrapper wrapper-content animated fadeInRight">
<form method="POST" class="form-horizontal">
{% csrf_token %}
<div class="row">
<div class="col-lg-6">
    <div class="ibox ">
        <div class="ibox-title">
          <h5><strong>Primary info</strong></h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
       </div>
        <div class="ibox-content">
                     <br>
                     <div class="form-group row">
                       <label for="Buyer3" class="col-lg-4 control-label" style="font-size: x-small;">Seller Information</label>
                       <div class="col-lg-8">
                         <p style="margin: 5px">
                         <small><strong>{{company_details.Name}}</strong><br>
                         {{company_details.Address}}<br>
                         State : {{company_details.State}}<br>
                         Phone no :  {{company_details.Mobile_No}}</small>
                       </p>
                       </div>
                       
                     </div>


                    <div class="form-group row">
                       <label for="Seller2" class="col-lg-4 control-label" style="font-size: x-small;  width: 20%; height: 20%;">Name of Party<i class="material-icons" style="font-size:16px;color:red">*</i></label>
                       <div class="col-lg-8">
                        {{form.Party_ac}}
                      </div>
                    </div> 

                    <div class="form-group row">
                       <label for="Seller2" class="col-lg-4 control-label" style="font-size: x-small;  width: 20%; height: 20%;">Sales Ledger<i class="material-icons" style="font-size:16px;color:red">*</i></label>
                       <div class="col-lg-8">
                        {{form.sales}}
                      </div>
                    </div>

                    <div class="form-group row">
                       <label for="Seller2" class="col-lg-4 control-label" style="font-size: x-small;">Seller Name<i class="material-icons" style="font-size:16px;color:red">*</i></label>
                       <div class="col-lg-8">
                        {{form.billname}}
                      </div>
                    </div>

                      <div class="form-group row">
                       <label for="Place1" class="col-lg-4 control-label" style="font-size: x-small;">Place of Residence</label>
                       <div class="col-lg-8">
                         {{form.Address}}
                      </div>
                    </div> 

                     <div class="form-group row">
                       <label for="GST1" class="col-lg-4 control-label" style="font-size: x-small;">GSTIN/UIN</label>
                       <div class="col-lg-8">
                        {{form.GSTIN}}
                      </div>
                    </div> 

                     <div class="form-group row">
                       <label for="PAN1" class="col-lg-4 control-label" style="font-size: x-small;">PAN/IT NO</label>
                       <div class="col-lg-8">
                        {{form.PAN}}
                      </div>
                    </div>                 
        </div>
</div>
</div>

<div class="col-lg-6">
    <div class="ibox">
        <div class="ibox-title">
        <h5><strong>Secondary info</strong></h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
          </div>
       
        <div class="ibox-content">
                     <br>
                    <div class="form-group row">
                       <label for="State1" class="col-lg-4 control-label" style="font-size: x-small; width: 20%; height: 20%;">State Name<i class="material-icons" style="font-size:16px;color:red">*</i></label>
                       <div class="col-lg-8">
                        {{form.State}}
                      </div>
                    </div> 

                     <div class="form-group row">
                       <label for="Contact1" class="col-lg-4 control-label" style="font-size: x-small;">Contact</label>
                       <div class="col-lg-8">
                          {{form.Contact}}

                      </div>
                    </div> 

                    <div class="form-group row">
                       <label for="Invoice1" class="col-lg-4 control-label" style="font-size: x-small;">Invoice No<i class="material-icons" style="font-size:16px;color:red">*</i></label>
                       <div class="col-lg-8">
                         {{form.ref_no}}
                       </div>
                    </div>

                     <div class="form-group row">
                       <label for="Deli3" class="col-lg-4 control-label" style="font-size: x-small;">Delivery Note</label>
                       <div class="col-lg-8">
                          {{form.DeliveryNote}}
                       </div>
                    </div>

                     <div class="form-group row">
                       <label for="Supp3" class="col-lg-4 control-label" style="font-size: x-small;">Supplier's Ref</label>
                       <div class="col-lg-8">
                        {{form.Supplierref}}
                       </div>
                    </div>

                     <div class="form-group row">
                       <label for="Date3" class="col-lg-4 control-label" style="font-size: x-small;">Dated<i class="material-icons" style="font-size:16px;color:red">*</i></label>
                       <div class="col-lg-8">
                        {{form.date}}
                       </div>
                    </div>

                     <div class="form-group row">
                       <label for="Mode3" class="col-lg-4 control-label" style="font-size: x-small;">Mode/Terms Of Payment</label>
                       <div class="col-lg-8">
                         {{form.Mode}}
                       </div>
                    </div> 
                    <br>

                  
                 

                 
        </div>
    </div>
</div>
</div>
</div>

<div class="row">
<div class="col-lg-12">
    <div class="ibox ">

    <div class="ibox ">
        <div class="ibox-title">

            <h5><strong>Stock Details</strong></h5>

            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                    {{ stocksales.management_form }}


                        <thead>
                        <tr>
                          <th>Product<i class="material-icons" style="font-size:16px;color:red">*</i></th>
                          <th>Quantity<i class="material-icons" style="font-size:16px;color:red">*</i></th>
                          <th>Rate<i class="material-icons" style="font-size:16px;color:red">*</i></th>
                          <th>Discount(%)</th>
                          {% if company_details.gst_enabled == True and company_details.composite_enable == True %}
                            <th>Tax Rate</th>
                          {% elif company_details.gst_enabled == True %}
                            <th>Gst Rate</th>
                          {% endif %}
                          <th>Sub Total(&#8377;)</th>
                          <th>Total(&#8377;)</th>
                        </tr>
                        </thead>

                        <tbody>
                            {% for form in stocksales %}
                              
                                <tr class='{% cycle "row1" "row2" %}  formset_row'>
                                <td style="text-align: center ; width: 20%; height: 20%;">{{ form.id }} {{ form.stockitem}}</td>
                                <td >{{ form.Quantity}}</td>
                                <td >{{ form.rate}}</td>
                                <td >{{ form.Disc}}</td>
                                {% if company_details.gst_enabled == True %}
                                  <td>{{ form.gst_rate}}</td>
                                {% endif %}
                                <td >{{ form.Total}}</td>
                                <td ><input class="form-control" type="text" placeholder="" readonly></td>
                              </tr>  
                              
                            {% endfor %}

                        </tbody>


                </table>
                <a href="{% url 'stockkeeping:purchaselist' pk=company_details.pk pk3=selectdatefield_details.pk %}" class="btn btn-default" role="button">Cancel </a>
                {% if not form.instance.pk %}
                <button type="submit" class="btn btn-info pull-right" value="Submit">Create</button>
                {% else %}
                <button type="submit" class="btn btn-info pull-right" value="Submit">Update</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
</div>
</form>
<br>


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'formset/jquery.formset.js' %}"></script>

<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'add stock',
        deleteText: 'remove',
        prefix: 'purchasetotal'
    });
</script>


<div class="modal inmodal" id="modal-book-date" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content animated flipInY"></div>
    </div>
</div>

    
  

{% endblock %}
