{% extends "clouderp/base_2.html" %}
{% load staticfiles %}

{% block title %}Social wall{% endblock %}

{% block adsense %}

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
         google_ad_client: "ca-pub-7219420363532911",
        enable_page_level_ads: true
    });
</script> 
    
{% endblock %}

{% block head_extra %} 

{{ form.media }}

{% endblock head_extra %}       

{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>Social wall</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>Social wall</strong>
                    </li>
                </ol>
                <br>
            </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
    {% if todo_list %}
        <div class="row">
        <div class="col-lg-3">

                </div>
            <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>TODO List</h2>
                    
                    <ul class="todo-list m-t">
                    {% for todo in todo_list %}
                        {% if todo.complete %}
                            <li>
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-check" style="color: #008000;text-shadow: 1px 1px 1px #ccc;"></i>
                                <span class="m-l-xs">Done</span>
                                <span class="m-l-xs">{{todo.text}}</span>
                                <!-- <small class="label label-primary"><i class="fa fa-clock-o"></i> 1 mins</small> -->
                            </li>
                        {% else %}
                            <li>
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-times" style="color: #FF0000;text-shadow: 1px 1px 1px #ccc;"></i>
                                <span class="m-l-xs"> Not Done</span>
                                <span class="m-l-xs"><a href="{% url 'todogst:complete' todo.id %}"><span class="text">{{todo.text}}</span></a></span>
                                {% if todo.daysince > 0 %}
                                    {% if todo.daysince >= 60 and todo.daysince <= 80 %}
                                        <small class="label label-success"><i class="fa fa-clock-o"></i> {{ todo.daysince }} days left</small>
                                    {% elif todo.daysince >= 80 %}
                                        <small class="label label-primary"><i class="fa fa-clock-o"></i> {{ todo.daysince }} days left</small>
                                    {% elif todo.daysince >= 10 and todo.daysince <= 60 %}
                                        <small class="label label-warning"><i class="fa fa-clock-o"></i> {{ todo.daysince }} days left</small>
                                    {% elif todo.daysince <= 10 %}
                                        <small class="label label-danger"><i class="fa fa-clock-o"></i> {{ todo.daysince }} days left</small>
                                    {% else %}
                                        <small class="label label-danger"><i class="fa fa-clock-o"></i> {{ todo.daysince }} days left</small>
                                    {% endif %}
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}

                    </ul>
                    <br>
                    <a class="btn btn-sm btn-success" href="{% url 'todogst:index' %}"><i class="fa fa-plus"></i> Add item</a>
                </div>

            </div>

            </div>
        </div>
    {% endif %}
                <br>
                <div class="row">

                <div class="col-lg-2">

                </div>
                    <div class="col-lg-8">
                        <div class="ibox ">
                            <div class="ibox-content text-center">

                                <h2 class="m-b-xxs">Create Post</h2>
                                <br>
                                <form action="{% url 'userprofile:post_add' %}" method="POST" class="form-horizontal">
                                {% csrf_token %}
                                  <div class="box-body">

                                    <div class="form-group">
                                      
                                      
                                        <div class="col-sm-12" style="width: 100%; height: 100%;">
                                              
                                            {{ form.post.errors }}
                                            {{ form.post }}
                                          
                                        </div>                 

                                    </div>

                                 
                                    
                                    
                                  </div>
                                  <!-- /.box-body -->
                                  <div class="box-footer">
                                    <button type="submit" class="btn btn-lg btn-info" value="Submit">Submit</button>

                                    
                                 </div>
                                  <!-- /.box-footer -->
                                </form>
                            </div>
                        </div>

                {% for posts in post_list %}
                        <div class="social-feed-separated">

                        {% if posts.User.profile.image %}
                            <div class="social-avatar">
                                <a href="{% url 'userprofile:specific_profile' pk=posts.User.profile.pk %}">
                                    <img alt="image" src="{{ posts.User.profile.image.url }}/">
                                </a>
                            </div>
                        {% else %}
                            <div class="social-avatar">
                                <a href="{% url 'userprofile:specific_profile' pk=posts.User.profile.pk %}">
                                    <img alt="image" src="{% static 'userprofile/download (1).jpg' %}">
                                </a>
                            </div>
                        {% endif %}

                            <div class="social-feed-box">

                                <div class="float-right social-action dropdown">
                                    <button data-toggle="dropdown" class="dropdown-toggle btn-white">
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu m-t-xs">
                                        <li><a href="#">Config</a></li>
                                    </ul>
                                </div>
                                <div class="social-avatar">
                                    <a href="{% url 'userprofile:specific_profile' pk=posts.User.profile.pk %}">
                                        {{ posts.User }}
                                    </a>
                                    <small class="text-muted">{{ posts.date }}</small>
                                </div>
                                <div class="social-body">
                                    <p>
                                        {{ posts.post|safe }}
                                    </p>
                                    
                                    <div class="btn-group">
                                        <a href="{% url 'userprofile:post_details' pk=posts.pk %}" class="btn btn-primary btn-xs">See Comments</a>&nbsp;
                                        <span class="pull-right text-muted">{{ posts.post_comment.count }} Comment{{ posts.post_comment.count|pluralize }} - {{ posts.like.count }} Like{{ posts.like.count|pluralize }}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endfor %}

                {% for consultancy in consultancies %}
                        <div class="social-feed-separated">

                        {% if consultancy.User.profile.image %}
                            <div class="social-avatar">
                                <a href="{% url 'userprofile:specific_profile' pk=consultancy.User.profile.pk %}">
                                    <img alt="image" src="{{ consultancy.User.profile.image.url  }}/">
                                </a>
                            </div>
                        {% else %}
                            <div class="social-avatar">
                                <a href="{% url 'userprofile:specific_profile' pk=consultancy.User.profile.pk %}">
                                    <img alt="image" src="{% static 'userprofile/download (1).jpg' %}">
                                </a>
                            </div>
                        {% endif %}

                            <div class="social-feed-box">

                                <div class="float-right social-action dropdown">
                                    
                                </div>
                                <div class="social-avatar">
                                    <a href="{% url 'userprofile:specific_profile' pk=consultancy.User.profile.pk %}">{{ consultancy.User }}</a> asked a query
                                    <small class="text-muted">{{ consultancy.Date }}</small>
                                </div>
                                <div class="social-body">
                                    <p>
                                        {{ consultancy.Questions }}
                                    </p>
                                    
                                    <div class="btn-group">
                                        <a href="{% url 'consultancy:consultancydetail' pk=consultancy.pk %}" class="btn btn-primary btn-xs">See Solutions</a>&nbsp;
                                        <span class="pull-right text-muted">{{ consultancy.consultancies.count }} Solution{{ consultancy.consultancies.count|pluralize }} - {{ consultancy.like.count }} Like{{ consultancy.like.count|pluralize }}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endfor %}


                {% for blog in blogs %}
                        <div class="social-feed-separated">

                        {% if blog.User.profile.image %}
                            <div class="social-avatar">
                                <a href="{% url 'blog:blogdetail' pk=blog.pk %}">
                                    <img alt="image" src="{{ blog.User.profile.image.url }}/">
                                </a>
                            </div>
                        {% else %}
                            <div class="social-avatar">
                                <a href="{% url 'blog:blogdetail' pk=blog.pk %}">
                                    <img alt="image" src="{% static 'userprofile/download (1).jpg' %}">
                                </a>
                            </div>
                        {% endif %}

                            <div class="social-feed-box">

                                <div class="float-right social-action dropdown">
                                    
                                </div>
                                <div class="social-avatar">
                                    <a href="{% url 'userprofile:specific_profile' pk=blog.User.profile.pk %}">{{ blog.User }}</a> posted a blog
                                    <small class="text-muted"> {{ blog.Date|date }}</small>
                                </div>
                                <div class="social-body">
                                    <h3>
                                        {{ blog.Blog_title }}
                                    </h3>

                                    {% if blog.Blog_image %}
                                        <img width="100%" height="100%" src="{{ blog.Blog_image.url }}/" alt="">
                                    {% endif %}
                                    
                                    <div class="btn-group">
                                        <a href="{% url 'blog:blogdetail' pk=blog.pk %}" class="btn btn-primary btn-xs">Read More</a>&nbsp;
                                        <span class="pull-right text-muted">{{ blog.blog_comments.count }} Comment{{ blog.blog_comments.count|pluralize }} - {{ blog.likes.count }} Like{{ blog.likes.count|pluralize }}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endfor %}



                    </div>
                </div>
            </div>   

{% endblock %}
