{% extends "clouderp/base_2.html" %}
{% load staticfiles %}
{% block title %}Social wall{% endblock %}
{% block content %}
<style>

.box {
  transition: box-shadow .3s;

 
  
}
.box:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
</style>
<div class="wrapper wrapper-content row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 animated fadeInRight">
        <div class="mail-box-header">

            <h2>
                Post
            </h2>
            <div class="mail-tools tooltip-demo m-t-md">

                <h5>
                    <span class="float-right font-normal">{{ post_details.date }}</span>
                    <span class="font-normal">By: </span>{{ post_details.User }}
                </h5>
            </div>
        </div>
        <div class="mail-box">
            <div class="mail-body">


                <p>
                    {{ post_details.post|safe }}
                </p>

            </div>

            <!-- <div class="mail-body text-right tooltip-demo">
                <a class="btn btn-sm btn-white" href="#social-feed-box"><i class="fa fa-reply"></i> Reply</a>
                <a class="btn btn-sm btn-white" href="mail_compose.html"><i class="fa fa-arrow-right"></i> Forward</a>
                <button title="" data-placement="top" data-toggle="tooltip" data-original-title="Trash"
                    class="btn btn-sm btn-white"><i class="fa fa-trash-o"></i> Remove</button>
            </div> -->
            <div class="clearfix"></div>


        </div>

        <div class="social-feed-separated">

                {% if posts.User.profile.image %}
                <div class="social-avatar">
                    <a href="#">
                        <img alt="image" src="{{ posts.User.profile.image.url }}/">
                    </a>
                </div>
                {% else %}
                <div class="social-avatar">
                    <a href="#">
                        <img alt="image" src="{% static 'userprofile/download (1).jpg' %}">
                    </a>
                </div>
                {% endif %}
               
                <div class="social-feed-box" >
                    <div class="social-body">
                            <form action="" method="POST" class="form-horizontal">
                                {% csrf_token %}
                             {{comment_form.text}} 
                       
                        <div class="btn-group">
                            
                             <button type="submit" class="btn btn-info mt-2" value="submit">Post</button>
                        </div>
                    </form>
                    </div>
                        


                </div>
                

            </div> 
            {% for comment in comments %}

            <div class="social-feed-separated ">
               
                    <div class="social-feed-box box" >
                            <div class="social-avatar">
                                    <a href="#">
                                            <img alt="image" src="{% static 'userprofile/download (1).jpg' %}">
                                        </a>
                                    <a href="#">
                                        {{ comment.User }}
                                    </a>
                                    <small class="text-muted">{{ comment.Date }}</small>
                                </div>
                            <div class="social-body">
                            
                                            <p>
                                                {{ comment.text|safe }}
                                            </p>

                        
                          </div>
                    
                </div>
            </div>
            {% endfor %}

    </div>

    <div class="col-lg-1"></div>

</div>

{% endblock %}