{% extends "clouderp/base_2.html" %}
{% load staticfiles %}

{% block title %}Social wall{% endblock %}

{% block adsense %}

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
         google_ad_client: "ca-pub-7219420363532911",
        enable_page_level_ads: true
    });
</script> 
    
{% endblock %}

{% block head_extra %} 

{{ form.media }}

{% endblock head_extra %}       

{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>Social wall</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>Social wall</strong>
                    </li>
                </ol>
                <br>
            </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
        <div class="col-lg-12 m-0 p-0 row">
        <div class="col-lg-1 p-0 m-0"></div>
        <div class="col-lg-10 p-2 m-0 bg-white Postbox row">
                <div class="col-lg-3 p-2">
                        <button type="button" class="" style="border:none;background: white;" data-toggle="modal" data-target="#myModal4">
                            <i class="fa fa-edit"></i> Start your Post
                        </button>
                </div>
               

        </div>
        <div class="col-lg-1 p-0 m-0"></div>
        

    
    </div>
    <div class="modal inmodal" id="myModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h2 class="m-b-xxs">Create Post</h2>
                </div>

                <form action="{% url 'user_profile:post_add' %}" method="POST" class="form-horizontal">
                    {% csrf_token %}
                    <div class="box-body">

                        <div class="form-group">


                            <div class="col-sm-12" style="width: 100%; height: 100%;">

                                {{ form.post.errors }}
                                {{ form.post }}

                            </div>

                        </div>

                    </div>
                    <!-- /.box-body -->
                    <!-- <div class="box-footer">
                                <button type="submit" class="btn btn-lg btn-info" value="Submit">Submit</button>

                                
                                </div> -->
                    <!-- /.box-footer -->

                    <div class="modal-footer">

                        <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="row p-1" >
       

        
           
            <div class="col-lg-1"></div>
            <div class="col-lg-10">


                {% for posts in post_list %}
                <div class="social-feed-separated">

                    {% if posts.User.profile.image %}
                    <div class="social-avatar">
                        <a href="{% url 'user_profile:specific_profile' profile_pk=posts.user.profile.pk %}">
                            <img alt="image" src="{{ posts.User.profile.image.url }}/">
                        </a>
                    </div>
                    {% else %}
                    <div class="social-avatar">
                        <a href="{% url 'user_profile:specific_profile' profile_pk=posts.user.profile.pk %}">
                            <img alt="image" src="{% static 'user_profile/download (1).jpg' %}">
                        </a>
                    </div>
                    {% endif %}

                    <div class="social-feed-box">

                        <div class="float-right social-action dropdown">
                            <button data-toggle="dropdown" class="dropdown-toggle btn-white">
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu m-t-xs">
                                <li><a href="#">Config</a></li>
                            </ul>
                        </div>
                        <div class="social-avatar">
                            <a href="{% url 'user_profile:specific_profile' profile_pk=posts.user.profile.pk %}">
                                {{ posts.user }}
                            </a>
                            <small class="text-muted">{{ posts.date }}</small>
                        </div>
                        <div class="social-body " >
                            <p>
                                {{ posts.post|safe|truncatewords:30 }}
                            </p>

                            <div class="btn-group">
                                <a href="{% url 'user_profile:post_details' post_pk=posts.pk %}"
                                    class="btn btn-primary btn-xs">See Comments</a>&nbsp;
                                <span class="pull-right text-muted">{{ posts.post_comment.count }}
                                    Comment{{ posts.post_comment.count|pluralize }} - {{ posts.like.count }}
                                    Like{{ posts.like.count|pluralize }}</span>
                            </div>
                        </div>
                    </div>

                </div>
                {% endfor %}

                {% for consultancy in consultancies %}
                <div class="social-feed-separated">

                    {% if consultancy.user.profile.image %}
                    <div class="social-avatar">
                        <a href="{% url 'user_profile:specific_profile' profile_pk=consultancy.user.profile.pk %}">
                            <img alt="image" src="{{ consultancy.user.profile.image.url  }}/">
                        </a>
                    </div>
                    {% else %}
                    <div class="social-avatar">
                        <a href="{% url 'user_profile:specific_profile' profile_pk=consultancy.user.profile.pk %}">
                            <img alt="image" src="{% static 'user_profile/download (1).jpg' %}">
                        </a>
                    </div>
                    {% endif %}

                    <div class="social-feed-box">

                        <div class="float-right social-action dropdown">

                        </div>
                        <div class="social-avatar">
                            <a
                                href="{% url 'user_profile:specific_profile' profile_pk=consultancy.user.profile.pk %}">{{ consultancy.user }}</a>
                            asked a query
                            <small class="text-muted">{{ consultancy.Date }}</small>
                        </div>
                        <div class="social-body">
                            <p>
                                {{ consultancy.Questions }}
                            </p>

                            <div class="btn-group">
                                <a href="{% url 'consultancy:consultancydetail' pk=consultancy.pk %}"
                                    class="btn btn-primary btn-xs">See Solutions</a>&nbsp;
                                <span class="pull-right text-muted">{{ consultancy.consultancies.count }}
                                    Solution{{ consultancy.consultancies.count|pluralize }} -
                                    {{ consultancy.like.count }} Like{{ consultancy.like.count|pluralize }}</span>
                            </div>
                        </div>
                    </div>

                </div>
                {% endfor %}


                {% for blog in blogs %}
                <div class="social-feed-separated">

                    {% if blog.User.profile.image %}
                    <div class="social-avatar">
                        <a href="{% url 'blog:blogdetail' pk=blog.pk %}">
                            <img alt="image" src="{{ blog.User.profile.image.url }}/">
                        </a>
                    </div>
                    {% else %}
                    <div class="social-avatar">
                        <a href="{% url 'blog:blogdetail' pk=blog.pk %}">
                            <img alt="image" src="{% static 'user_profile/download (1).jpg' %}">
                        </a>
                    </div>
                    {% endif %}

                    <div class="social-feed-box">

                        <div class="float-right social-action dropdown">

                        </div>
                        <div class="social-avatar">
                            <a
                                href="{% url 'user_profile:specific_profile' pk=blog.user.profile.pk %}">{{ blog.User }}</a>
                            posted a blog
                            <small class="text-muted"> {{ blog.Date|date }}</small>
                        </div>
                        <div class="social-body">
                            <h3>
                                {{ blog.Blog_title }}
                            </h3>

                            {% if blog.Blog_image %}
                            <img width="100%" height="100%" src="{{ blog.Blog_image.url }}/" alt="">
                            {% endif %}

                            <div class="btn-group">
                                <a href="{% url 'blog:blogdetail' blog_pk=blog.pk %}" class="btn btn-primary btn-xs">Read
                                    More</a>&nbsp;
                                <span class="pull-right text-muted">{{ blog.blog_comments.count }}
                                    Comment{{ blog.blog_comments.count|pluralize }} - {{ blog.likes.count }}
                                    Like{{ blog.likes.count|pluralize }}</span>
                            </div>
                        </div>
                    </div>

                </div>
                {% endfor %}



            </div>
        
    </div>
{% endblock %}
