{% extends "clouderp/base.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% block title %}Payment Details{% endblock %}

{% block content %}

{% include "snippet_shortcut/shortcut_snippet.html" %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h3>Payment Details</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
            </li>
            <li class="breadcrumb-item">

                <a href="{% url 'company:list' %}">Company list</a>
            </li>
            <li class="breadcrumb-item">
                <a
                    href="{% url 'company:Dashboard' company_pk=company.pk period_selected_pk=period_selected.pk %}">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a
                    href="{% url 'accounting_entry:paymentlist' company_pk=company.pk period_selected_pk=period_selected.pk  %}">Payment
                    List</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Payment Details</strong>
            </li>
        </ol>
        <br>
        <a href="{% url 'accounting_entry:paymentlist' company_pk=company.pk period_selected_pk=period_selected.pk  %}"
            class="btn btn-success" role="button">Select Payment </a>
        <a href="{% url 'accounting_entry:paymentcreate' company_pk=company.pk period_selected_pk=period_selected.pk %}"
            class="btn btn-warning" role="button">Create Payment</a>


        <button class="btn btn-info show-form-update pull-right"
            data-url="{% url 'accounting_entry:dateupdate' period_selected_pk=period_selected.pk %}">
            <span class="glyphicon glyphicon-pencil"></span>
            Update Period
        </button>

        <a id="book-table-date" class="pull-right" style="padding-top:0.5%">

            <strong>Selected Period: From</strong>
            {{ period_selected.start_date|date }}
            <strong>To</strong>
            {{ period_selected.end_date|date }} &nbsp;

        </a>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight ecommerce">



    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="form-group row">

                        <label class="col-lg-2 col-form-label">Date --</label>

                        <div class="col-lg-10">
                            {{ payment_voucher.voucher_date }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Account --</label>

                        <div class="col-lg-10">
                            {{ payment_voucher.account }}
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover" data-page-size="15" id="book-table">
                            <tr>
                                <th>
                                    <center>#</center>
                                </th>
                                <th>
                                    <center>Particulars</center>
                                </th>
                                <th>
                                    <center>Debit</center>
                                </th>
                            </tr>

                            {% for paymnt in payment_voucher.payment_payment_voucher_row.all %}
                            <tr>
                                <td>
                                    <center>{{ forloop.counter }}</center>
                                </td>
                                <td>
                                    <center>{{paymnt.particular}}</center>
                                </td>
                                <td>
                                    <center>{{paymnt.amount}}</center>
                                </td>
                            </tr>
                            {% endfor %}

                            <tr>
                                <th>
                                    <center></center>
                                </th>
                                <th>
                                    <center>Total</center>
                                </th>
                                <th>
                                    <center>{{payment_voucher.total_amt}}</center>
                                </th>
                            </tr>
                        </table>
                    </div>
                    <hr>
                    <p><a class='btn btn-warning'
                            href="{% url 'accounting_entry:paymentupdate' company_pk=company.pk payment_voucher_pk=payment_voucher.pk period_selected_pk=period_selected.pk %}">Update
                            payment</a> <a class='btn btn-danger'
                            href="{% url 'accounting_entry:paymentdelete' company_pk=company.pk payment_voucher_pk=payment_voucher.pk period_selected_pk=period_selected.pk %}">Delete
                            payment</a>
                        <button class='btn btn-default pull-right' onclick="goBack()">Go Back</button>
                    </p>

                </div>
            </div>
        </div>
    </div>



</div>



<div class="modal inmodal" id="modal-book" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn"></div>
    </div>
</div>

<div class="modal inmodal" id="modal-book-date" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY"></div>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    {% endblock %}