{% if company_details.State == 'Jammu and Kashmir' %}

	1

{% elif company_details.State == 'Himachal Pradesh' %}

	2

{% elif company_details.State == 'Punjab' %}

	3

{% elif company_details.State == 'Chandigarh' %}

	4

{% elif company_details.State == 'Uttarakhand' %}

	5

{% elif company_details.State == 'Haryana' %}

	6

{% elif company_details.State == 'Delhi' %}

	7

{% elif company_details.State == 'Rajasthan' %}

	8

{% elif company_details.State == 'Uttar Pradesh' %}

	9

{% elif company_details.State == 'Bihar' %}

	10

{% elif company_details.State == 'Sikkim' %}

	11

{% elif company_details.State == 'Arunachal Pradesh' %}

	12

{% elif company_details.State == 'Nagaland' %}

	13

{% elif company_details.State == 'Manipur' %}

	14

{% elif company_details.State == 'Mizoram' %}

	15

{% elif company_details.State == 'Tripura' %}

	16

{% elif company_details.State == 'Meghalaya' %}

	17

{% elif company_details.State == 'Assam' %}

	18

{% elif company_details.State == 'West Bengal' %}

	19

{% elif company_details.State == 'Jharkhand' %}

	20

{% elif company_details.State == 'Odisha' %}

	21

{% elif company_details.State == 'Chhattisgarh' %}

	22

{% elif company_details.State == 'Madhya Pradesh' %}

	23

{% elif company_details.State == 'Gujrat' %}

	24

{% elif company_details.State == 'Daman and Diu' %}

	25

{% elif company_details.State == 'Dadra and Nagar Haveli' %}

	26

{% elif company_details.State == 'Maharashtra' %}

	27

{% elif company_details.State == 'Andhra Pradesh' %}

	37

{% elif company_details.State == 'Karnataka' %}

	29

{% elif company_details.State == 'Goa' %}

	30

{% elif company_details.State == 'Lakshadweep' %}

	31

{% elif company_details.State == 'Kerala' %}

	32

{% elif company_details.State == 'Tamil Nadu' %}

	33

{% elif company_details.State == 'Puducherry' %}

	34

{% elif company_details.State == 'Andaman & Nicobar Islands' %}

	35

{% elif company_details.State == 'Telangana' %}

	36

{% endif %}