{% extends "clouderp/base_2.html" %}
{% load staticfiles %}

{% block title %}Blogs{% endblock %}

{% block adsense %}

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
         google_ad_client: "ca-pub-7219420363532911",
        enable_page_level_ads: true
    });
</script> 
    
{% endblock %}

{% block content %}

{% include "blog/heading_snippet.html" %}

<div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>Search Blogs</h2>
             <form method='GET' class="form-horizontal" id="search-form" action="{% url 'blog:search' %}">

                <div class="input-group input-group-sm">
                    <input  class="form-control" name="q" value="{{request.GET.q}}" placeholder="Search Blogs Here">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-info pull-right">Go</button>
                    </div>
                </div>


            </form>
            </div>
</div>

 <div class="wrapper wrapper-content  animated fadeInRight article">
            <div class="row justify-content-md-center">
                <div class="col-lg-10">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="float-right">
                               <!--  <button class="btn btn-white btn-xs" type="button">Model</button>
                                <button class="btn btn-white btn-xs" type="button">Publishing</button>
                                <button class="btn btn-white btn-xs" type="button">Modern</button> -->
                            </div>
                            <div class="text-center article-title">
                            <span class="text-muted"><i class="fa fa-clock-o"></i>&nbsp;{{ blog_details.date|date }} </span><br>
                            
                                <h1>
                                    {{ blog_details.blog_title }}
                                </h1>
                                <h2 class="float-right">
                                    By:&nbsp;<a href="{% url 'user_profile:specific_profile' profile_pk=blog_details.user.profile.pk %}">{{ blog_details.user }}</a>
                                </h2>
                            </div>


                            <div>

                            {% if blog_details.blog_image %}
                              <center> <img class="product_img" src="{{ blog_details.blog_image.url }}/" alt="product picture" height="300" width="700"></center>
                            {% endif %}

                            </div>
                            <p>
                                {{ blog_details.description|safe|linebreaks }}
                            </p>
                            
                            <hr>
                        {% if user.is_authenticated %}
                            <div id="like-section">
                                {% include 'blog/like_section.html' %}
                            </div>
                        {% else %}
                            <div>
                                {% include 'blog/unauthorised_modal.html' %}
                            </div>
                        {% endif %}

                            <div class="row">
                                <div class="col-lg-12">

                                    <h2>Comments:</h2>
                                    {% include 'blog/blog_comment.html' %}

                                
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

   

{% endblock %}