{% load staticfiles %}



{% for comment in blogcomments %}
                <!-- User image -->
      <div class="social-feed-box">
          <div class="social-avatar">
              <a href="" class="float-left">
              {% if comment.user.profile.image %}
                  <img alt="image" src="{{ comment.user.profile.image.url }}/">
              {% else %}
                <img alt="image" src="{% static 'userprofile/download (1).jpg' %}">
              {% endif %}
              </a>
              <div class="media-body">
                  <a href="{% url 'user_profile:specific_profile' profile_pk=comment.user.profile.pk %}">
                      {{ comment.user }}
                  </a>
                  <small class="text-muted"> {{ comment.date|timesince }} ago</small>
              </div>
          </div>
          <div class="social-body">
              <p>
                  {{ comment.text }}
              </p>
          </div>
      </div>


                <!-- /.comment-text -->
{% endfor %}

      <form method="post">
        {% csrf_token %}

        <div class="input-group input-group-sm">
            {{ blog_comment_form.text}}
            <div class="input-group-append">
                <input type="submit" class="btn btn-info pull-right" value="Submit">
            </div>
          </div>     
      
      </form>