{% extends "clouderp/base_2.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% block title %}Delete Blog{% endblock %}

{% block content %}


            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h3>Delete Blog</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'blog:bloglist' %}">Blogs</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'blog:blogdetail' blog_pk=blog.pk %}">Blog Details</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>Delete Blog</strong>
                    </li>
                </ol>
           <br>
           
                </div>
            </div>


        <div class="wrapper wrapper-content animated fadeInRight ecommerce">



            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h1>
                              <strong>Delete {{blog.blog_title }}?</strong>
                            </h1>
                        <form method="post">
                          {% csrf_token %}

                          <input type="submit" class="btn btn-danger" value="Delete">
                          <a class='btn btn-default' href="{% url 'blog:blogdetail' blog_pk=blog.pk %}}">Cancel</a>

                        </form>
                        
                        </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>



{% endblock %}