{% extends "clouderp/base_2.html" %}
{% load staticfiles %}

{% block title %}Blogs{% endblock %}

{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>Blogs</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>Blogs</strong>
                    </li>
                </ol>
                <br>
                    {% if user.is_authenticated %}
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">View Posts By</button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'blog:latestbloglist' %}">Most Recent</a></li>
                                <li><a class="dropdown-item" href="{% url 'blog:viewbloglist' %}">Most Popular</a></li>
                                <li><a class="dropdown-item" href="{% url 'blog:likebloglist' %}">Most Helpful</a></li>     
                            </ul>
                            

                        </div>
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-success dropdown-toggle pull-right">Categories</button>
                            <ul class="dropdown-menu">
                            {% for categories in categories_list %}
                                <li><a class="dropdown-item" href="{% url 'blog:categoryDetail' pk=categories.pk  %}"><strong>{{ categories.Title }}</strong>
                                <span class="label label-success pull-right">
                                  {{ categories.blogs.count }}</span></a></li>
                            {% endfor %}    
                            </ul>
                        </div>
                        <div class='pull-right'>
                            <a href="{% url 'blog:bloglist' %}" class="btn btn-info" role="button">Show my Posts</a>
                            <a href="{% url 'blog:blogcreate' %}" class="btn btn-warning" role="button">Create Post</a>
                        </div>
                    {% else %}
                        {% include 'blog/unauthorised_modal_2.html' %}
                    {% endif %}
            </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>Search Blogs</h2>
             <form method='GET' class="form-horizontal" id="search-form" action="{% url 'blog:search' %}">

                <div class="input-group input-group-sm">
                    <input  class="form-control" name="q" value="{{request.GET.q}}" placeholder="Search Blogs Here">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-info pull-right">Go</button>
                    </div>
                </div>


            </form>
            </div>
</div>

 <div class="wrapper wrapper-content  animated fadeInRight article">
            <div class="row justify-content-md-center">
                <div class="col-lg-10">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="float-right">
                               <!--  <button class="btn btn-white btn-xs" type="button">Model</button>
                                <button class="btn btn-white btn-xs" type="button">Publishing</button>
                                <button class="btn btn-white btn-xs" type="button">Modern</button> -->
                            </div>
                            <div class="text-center article-title">
                            <span class="text-muted"><i class="fa fa-clock-o"></i>&nbsp;{{ blog_details.Date|date }} </span><br>
                            
                                <h1>
                                    {{ blog_details.Blog_title }}
                                </h1>
                                <h2 class="float-right">
                                    By:&nbsp;<a href="{% url 'userprofile:specific_profile' pk=blog_details.User.profile.pk %}">{{ blog_details.User }}</a>
                                </h2>
                            </div>


                            <div>

                            {% if blog_details.Blog_image %}
                              <center> <img class="product_img" src="{{ blog_details.Blog_image.url }}/" alt="product picture" height="300" width="800"></center>
                            {% endif %}

                            </div>
                            <p>
                                {{ blog_details.Description|safe|linebreaks }}
                            </p>
                            
                            <hr>
                        {% if user.is_authenticated %}
                            <div id="like-section">
                                {% include 'blog/like_section.html' %}
                            </div>
                        {% else %}
                            <div>
                                {% include 'blog/unauthorised_modal.html' %}
                            </div>
                        {% endif %}

                            <div class="row">
                                <div class="col-lg-12">

                                    <h2>Comments:</h2>
                                    {% include 'blog/blog_comment.html' %}

                                <form method="post">
                                    {% csrf_token %}

                                    <div class="input-group input-group-sm">
                                        {{ Blog_comments_user_form.text}}
                                        <div class="input-group-append">
                                            <input type="submit" class="btn btn-info pull-right" value="Submit">
                                        </div>
                                      </div>     
                                  
                                  </form>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

   

{% endblock %}