{% extends "clouderp/base_2.html" %}
{% load staticfiles %}

{% block title %}Blogs{% endblock %}

{% block content %}

{% include "blog/heading_snippet.html" %}

<div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>Search Blogs</h2>
             <form method='GET' class="form-horizontal" id="search-form" action="{% url 'blog:search' %}">

                <div class="input-group input-group-sm">
                    <input  class="form-control" name="q" value="{{request.GET.q}}" placeholder="Search Blogs Here">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-info pull-right">Go</button>
                    </div>
                </div>


            </form>
            </div>
</div>

    <style type="text/css">
        .product_img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 100%;
        }
    </style>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">

            {% for blog in category_details.blogs.all %}
                <div class="col-md-3">
                    <div class="ibox">
                        <div class="ibox-content product-box">

                            <div>

                            {% if blog.blog_image %}
                               <img class="product_img" src="{{ blog.blog_image.url }}/" alt="product picture" height="200" width="100">
                            {% endif %}

                            </div>
                            <div class="product-desc">
                                
                                <a href="{% url 'blog:blogdetail' blog_pk=blog.pk %}" class="product-name">{{ blog.blog_title|safe|truncatewords:"3" }}</a>



                                <div class="small m-t-xs">
                                    {{ blog.description|safe|truncatewords:"9"}}
                                </div>
                                <div class="ratings">
                                <p>Posted  {{ blog.date|timesince}} ago by
                                  <a href="{% url 'user_profile:specific_profile' profile_pk=blog.user.profile.pk %}">{{ blog.user }}</a>  
                                </p>

                            </div>
                                <div class="m-t text-righ">

                                    <a href="{% url 'blog:blogdetail' blog_pk=blog.pk %}" class="btn btn-xs btn-outline btn-primary">Read More <i class="fa fa-long-arrow-right"></i> </a>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% for blog in blogs %}
                <div class="col-md-3">
                    <div class="ibox">
                        <div class="ibox-content product-box">

                            <div>

                            {% if blog.blog_image %}
                               <img class="product_img" src="{{ blog.blog_image.url }}/" alt="product picture" height="200" width="100">
                            {% endif %}

                            </div>
                            <div class="product-desc">
                                
                                <a href="{% url 'blog:blogdetail' blog_pk=blog.pk %}" class="product-name">{{ blog.blog_title|safe|truncatewords:"3" }}</a>



                                <div class="small m-t-xs">
                                    {{ blog.description|safe|truncatewords:"9"}}
                                </div>
                                <div class="ratings">
                                <p>Posted  {{ blog.date|timesince}} ago by
                                  <a href="{% url 'user_profile:specific_profile' profile_pk=blog.user.profile.pk %}">{{ blog.user }}</a>  
                                </p>

                            </div>
                                <div class="m-t text-righ">

                                    <a href="{% url 'blog:blogdetail' blog_pk=blog.pk %}" class="btn btn-xs btn-outline btn-primary">Read More <i class="fa fa-long-arrow-right"></i> </a>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        <!-- Pagination -->

            </div>

        <ul class="text-center">
                  {% if is_paginated %}
                      <ul class="pagination">
                       {% if page_obj.has_previous %}
                          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                               <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
        </ul>
        </div>

{% endblock %}