{% url 'accounting_entry:trialbalcond' company_pk=company.pk period_selected_pk=period_selected.pk  as trial_bl %}
{% url 'accounting_entry:PandLcond' company_pk=company.pk period_selected_pk=period_selected.pk  as pl %}
{% url 'accounting_entry:blsht' company_pk=company.pk period_selected_pk=period_selected.pk  as bl_sht %}
{% url 'stock_keeping:trialbal' company_pk=company.pk period_selected_pk=period_selected.pk  as trial_bl_exp %}
{% url 'stock_keeping:profitloss' company_pk=company.pk period_selected_pk=period_selected.pk  as pl_exp %}
{% url 'stock_keeping:balsht' company_pk=company.pk period_selected_pk=period_selected.pk  as bl_sht_exp %}
    <!-- c + g (group creation) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[67] && down[71]) {
                        window.location = '{% url 'accounting_entry:groupcreate' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script>

    <!-- v + g (group list) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[86] && down[71]) {
                        window.location = '{% url 'accounting_entry:grouplist' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script>

    <!-- c + l (ledger creation) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[67] && down[76]) {
                        window.location = '{% url 'accounting_entry:ledgercreate' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script>

    <!-- v + l (ledger list) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[86] && down[76]) {
                        window.location = '{% url 'accounting_entry:ledgerlist' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script>

    <!-- c + j (journal creation) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[67] && down[74]) {
                        window.location = '{% url 'accounting_entry:create' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script>

    <!-- v + j (journal list) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[86] && down[74]) {
                        window.location = '{% url 'accounting_entry:list' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script>

    <!-- c + a (create payment) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[67] && down[65]) {
                        window.location = '{% url 'accounting_entry:paymentcreate' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script>

    <!-- v + a (list payment) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[86] && down[65]) {
                        window.location = '{% url 'accounting_entry:paymentlist' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script>

    <!-- c + r (create receipt) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[67] && down[82]) {
                        window.location = '{% url 'accounting_entry:receiptcreate' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script>

    <!-- v + r (list receipt) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[86] && down[82]) {
                        window.location = '{% url 'accounting_entry:receiptlist' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script>

    <!-- c + o (create contra) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[67] && down[79]) {
                        window.location = '{% url 'accounting_entry:contracreate' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script>

    <!-- v + o (list contra) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[86] && down[79]) {
                        window.location = '{% url 'accounting_entry:contralist' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script>

    <!-- c + s (create sales invoice) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[67] && down[83]) {
                        window.location = '{% url 'stock_keeping:salescreate' company_pk=company.pk period_selected_pk=period_selected.pk  %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script>


    <!-- v + s (sales list) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[86] && down[83]) {
                        window.location = '{% url 'stock_keeping:saleslist' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script>

    <!-- c + p (create purchase invoice) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[67] && down[80]) {
                        window.location = '{% url 'stock_keeping:purchasecreate' company_pk=company.pk period_selected_pk=period_selected.pk  %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script>

    <!-- v + p (purchase invoice list) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[86] && down[80]) {
                        window.location = '{% url 'stock_keeping:purchaselist' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script>

    <!-- v + t(stock group list) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[86] && down[84]) {
                        window.location = '{% url 'stock_keeping:stockgrouplist' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script>

    <!-- c + t (stock item create) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[67] && down[84]) {
                        window.location = '{% url 'stock_keeping:stockdatacreate' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script>

    <!-- v + t (stock item list) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[86] && down[84]) {
                        window.location = '{% url 'stock_keeping:stockdatalist' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script>

    <!-- s + t (stock summary) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[83] && down[84]) {
                        window.location = '{% url 'stock_keeping:closingstock' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script>

    <!-- b + s (BRS) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[66] && down[83]) {
                        window.location = '{% url 'accounting_entry:bankledgerlist' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script>

    <!-- p + l (Profit loss condensed) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[80] && down[76]) {
                        window.location = '{% url 'accounting_entry:PandLcond' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script>

    <!-- b + c (Profit loss condensed) -->
   <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[66] && down[67]) {
                        window.location = '{% url 'accounting_entry:blsht' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script>

    {% if request.path == trial_bl %}
    <!-- e + x (Trial Balance expanded) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[69] && down[88]) {
                        window.location = '{% url 'stock_keeping:trialbal' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script> 

    {% endif %}

    {% if request.path == trial_bl_exp %}
    <!-- c + n (Trial Balance expanded) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[67] && down[78]) {
                        window.location = '{% url 'accounting_entry:trialbalcond' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script> 

    {% endif %}

    {% if request.path == pl %}
    <!-- e + x (Profit loss expanded) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[69] && down[88]) {
                        window.location = '{% url 'stock_keeping:profitloss' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script> 

    {% endif %}

    {% if request.path == pl_exp %}
    <!-- c + n (Profit and loss condensed) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[67] && down[78]) {
                        window.location = '{% url 'accounting_entry:PandLcond' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script> 

    {% endif %}

    {% if request.path == bl_sht %}
    <!-- e + x (Balance Sheet expanded) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[69] && down[88]) {
                        window.location = '{% url 'stock_keeping:balsht' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script> 

    {% endif %}

    {% if request.path == bl_sht_exp %}
    <!-- c + n (Balance Sheet condensed) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[67] && down[78]) {
                        window.location = '{% url 'accounting_entry:blsht' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script> 

    {% endif %}

    <!-- t + b (Trial Balance condensed) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[84] && down[66]) {
                        window.location = '{% url 'accounting_entry:trialbalcond' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script> 

    <!-- d + v (Day Book) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[68] && down[86]) {
                        window.location = '{% url 'accounting_entry:daybook' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script>

    <!-- c + v (cash/bank Book) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[67] && down[86]) {
                        window.location = '{% url 'accounting_entry:cash_and_bank' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script> 

    <!-- g + v (cash/bank Book) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[71] && down[86]) {
                        window.location = '{% url 'accounting_entry:groupsummary' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script> 

    <!-- s + r (sales register) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[83] && down[82]) {
                        window.location = '{% url 'stock_keeping:sale_register' company_pk=company.pk period_selected_pk=period_selected.pk  %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script> 


    <!-- p + r (purchase register) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[80] && down[82]) {
                        window.location = '{% url 'stock_keeping:purchase_register' company_pk=company.pk period_selected_pk=period_selected.pk  %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script>


    <!-- j + r (purchase register) -->
    <script>
        $(document).ready(function() {
            var down = [];
                $(document).keydown(function(e) {
                    down[e.keyCode] = true;
                }).keyup(function(e) {
                    if (down[74] && down[82]) {
                        window.location = '{% url 'accounting_entry:journalregister' company_pk=company.pk period_selected_pk=period_selected.pk %}';
                    }
                    down[e.keyCode] = false;
                });
        });
    </script>

    <!-- escape (go back) -->
    <!-- <script>
        $(document).ready(function() {
            var down = [];
            var isNoModalVisible = true;

                $(document).keydown(function(e) {
                    alert($('.modal.show').length)

                    down[e.keyCode] = true;
                    if (e.keyCode==27){
                        isNoModalVisible=$('.modal.show').length==0;
                    }
                }).keyup(function(e) {
                    if (down[27] && isNoModalVisible) {
                        window.history.back();
                    }
                    down[e.keyCode] = false;
                });
        });
    </script> -->