{% extends "clouderp/base_2.html" %}
{% load staticfiles %}

{% block title %}Help &amp; Support{% endblock %}

{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>Help and Support</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'help_support:CategoriesList' %}">Help &amp; Support</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'help_support:CategoriesList' %}">Categories</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="{% url 'help_support:CategoriesDetail' slug=article_details.article_category.slug %}">{{ article_details.article_category }}</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>{{article_details.article_title}}</strong>
                    </li>
                </ol>
                <br>
                       
            </div>
</div>

<!-- <div class="ibox-content m-b-sm border-bottom">
                            <div class="text-center p-lg">
                                <h2>If you don't find the answer to your question</h2>
                                <span>add your question by selecting </span>
                                
                            </div>
                        </div> -->


   <div class="wrapper wrapper-content  animated fadeInRight article">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-content">
                            <!-- <div class="float-right">
                                <button class="btn btn-white btn-xs" type="button">Model</button>
                                <button class="btn btn-white btn-xs" type="button">Publishing</button>
                                <button class="btn btn-white btn-xs" type="button">Modern</button>
                            </div> -->
                            <div class="text-center article-title">
                                <h1>
                                    {{article_details.article_title}}
                                </h1>
                               <h4>{{article_details.article_category}}</h4>
                            </div>
                            <p> {{article_details.Description|safe}} </p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div> 
            
                <div class="main-question">
                    {% include 'questions.html' %} 
                </div>            
    




  <div class="modal fade" id="modal-book">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
  </div>

{% endblock %}