{% if stock_taxable_sales != 0 %}
	<h2>Tax Invoice</h2>

{% elif stock_nongst_sales != 0 %}

	<h2>Invoice</h2>
	
{% elif sales_details.nature_transactions_sales == 'Exports LUT/Bond' or sales_details.nature_transactions_sales == 'Sales to SEZ - LUT/Bond' %}

	<h2>Tax Invoice</h2>
	<h5><small><strong>(Supply meant for Export / Supply to Sez Developer for Authorised Operations Under Bond Or Latter Of Undertaking Without Payment of IGST)</strong></small></h5>

{% elif sales_details.party_ac.party_type == 'SEZ' or sales_details.party_ac.State == 'Other Territory' and sales_details.nature_transactions_sales == 'Sales to SEZ - Exempt' or sales_details.nature_transactions_sales == 'Exports Exempt' and stock_taxable_sales != 0 %}

	<h2>Tax Invoice</h2>
	<h5><small><strong>(Supply meant for Export / Supply to Sez Developer for Authorised Operations On Payment of IGST)</strong></small></h5>

{% elif sales_details.party_ac.party_type == 'SEZ' or sales_details.party_ac.State == 'Other Territory' and sales_details.nature_transactions_sales == 'Not Applicable' and stock_exempt_sales != 0 %}

	<h2>Tax Invoice</h2>

{% elif sales_details.nature_transactions_sales == 'Exports LUT/Bond' or sales_details.nature_transactions_sales == 'Sales to SEZ - LUT/Bond' %}

	<h2>Tax Invoice</h2>
	<h5><small><strong>(Supply meant for Export / Supply to Sez Developer for Authorised Operations Under Bond Or Latter Of Undertaking Without Payment of IGST)</strong></small></h5>

{% elif sales_details.nature_transactions_sales == 'Deemed Exports Taxable' or sales_details.nature_transactions_sales == 'Interstate Sales   - Taxable' or sales_details.nature_transactions_sales == 'Intrastate Deemed Exports Taxabale' or sales_details.nature_transactions_sales == 'Intrastate Sales Taxable' %}

	<h2>Tax Invoice</h2>

{% elif sales_details.nature_transactions_sales == 'Exports Taxable' or sales_details.nature_transactions_sales == 'Sales to SEZ - Taxable' and stock_exempt_sales != 0 %}

	<h2>Tax Invoice</h2>
	<h5><small><strong>(Supply meant for Export / Supply to Sez Developer for Authorised Operations On Payment of IGST)</strong></small></h5>

{% elif sales_details.nature_transactions_sales == 'Sales to SEZ - Exempt' and stock_exempt_sales != 0 %}

	<h2>Tax Invoice</h2>
	<h5><small><strong>( Supply meant for Export / Supply to Sez Developer for Authorised Operations On Payment of IGST)</strong></small></h5>

{% elif sales_details.nature_transactions_sales == 'Exports LUT/Bond' or sales_details.nature_transactions_sales == 'Sales to SEZ - Exempt' %}

	<h2>Tax Invoice</h2>
	<h5><small><strong>(Supply meant for Export / Supply to Sez Developer for Authorised Operations Under Bond Or Latter Of Undertaking Without Payment of IGST)</strong></small></h5>


{% elif stock_exempt_sales != 0 and sales_details.nature_transactions_sales == 'Not Applicable' or extra_charge_sale_count != 0 %}

	<h2>Bill Of Supply</h2>

{% elif stock_nongst_sales != 0 and sales_details.nature_transactions_sales == 'Not Applicable' and extra_charge_sale_count != 0 %}

	<h2>Invoice-cum-Bill Of Supply</h2>

{% else %}

	<h2>Bill Of Supply</h2>

{% endif %}