{% extends "clouderp/base_2.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% block title %}

      Import Agreement

{% endblock %}

{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>
                  Import Agreement

        </h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
            </li>
            <li class="breadcrumb-item">
                
                <a href="{% url 'aggrement:aggrementlist' %}">Agreement list</a>
            </li>
            <li class="breadcrumb-item active">
                <strong> Import Agreement</strong>

            </li>
        </ol>
    </div>         
</div>
<br>
<div class="col-lg-12">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>Import Agreement</h5>


            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="myfile">
                <button class="btn btn-warning" type="submit">Upload</button>
              </form>
        </div>
    </div>
</div>

<br>
  


{% endblock %}