{% extends "clouderp/base_2.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% block title %}
About Organisation
{% endblock %}

{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Submit Details About Your Organisation</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'userprofile:profiledetail' %}">Profile</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Submit Details About Your Organisation</strong>
            </li>
        </ol>
    </div>         
</div>
<br>
<div class="col-lg-12">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>Submit Details About Your Organisation</h5>


            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <form method="POST">
            {% csrf_token %}
                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Organisation Name<i class="material-icons" style="font-size:16px;color:red">*</i></label>

                    <div class="col-lg-10">
                    {{ form.name }} 
                    </div>
                </div>
                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Location<i class="material-icons" style="font-size:16px;color:red">*</i></label>

                    <div class="col-lg-10">

                    {{ form.location }}

                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-info pull-right" value="Submit">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<br>
  


{% endblock %}