 {% extends "clouderp/base.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% block title %}
    {% if not form.instance.pk %}
    Create Stockgroup
    {% else %}
    Update Stockgroup
    {% endif %}
{% endblock %}

{% block content %}

            {% include "snippet_shortcut/shortcut_snippet.html" %}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    {% if not form.instance.pk %}
                      <h3>Create Stockgroup</h3>
                    {% else %}
                      <h3>Update Stockgroup</h3>
                    {% endif %}
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
                    </li>
                    <li class="breadcrumb-item">
                        
                        <a href="{% url 'company:list' %}">Company list</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'company:Dashboard' company_pk=company.pk period_selected_pk=period_selected.pk %}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">
                    {% if not form.instance.pk %}
                        <strong>Create Stockgroup</strong>
                    {% else %}
                        <strong>Update Stockgroup</strong>
                    {% endif %}
                    </li>
                </ol>
           <br>
             <a href="{% url 'stock_keeping:stockgrouplist' company_pk=company.pk period_selected_pk=period_selected.pk %}" class="btn btn-success" role="button">Stockgroup List</a>
          
            <a href="{% url 'stock_keeping:stockgroupcreate' company_pk=company.pk period_selected_pk=period_selected.pk  %}" class="btn btn-warning" role="button">Create Stockgroup</a>
           
                </div>
                </div>

<br>

<form method="POST" id="stock-form">
<div class="row">
<div class="col-lg-12">

        <div class="ibox ">
        <div class="ibox-title">
        {% if not form.instance.pk %}
            <h5>Create Stockgroup</h5>
        {% else %}
            <h5>Update Stockgroup</h5>
        {% endif %}

            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
        <div id="gst">
            
        </div>
            
        
            {% csrf_token %}

            <style type="text/css">
                .errorlist {
                    color: red;
                }
            </style>

            {{ form.non_field_errors }}

            <div class="form-group row">

                <label class="col-lg-2 col-form-label">Name<i class="material-icons" style="font-size:16px;color:red">*</i></label>

                    <div class="col-lg-10">
                    {{ form.group_name.errors }}
                        {{ form.group_name }}
                    </div>
                </div>

                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Under<i class="material-icons" style="font-size:16px;color:red">*</i></label>

                    <div class="col-lg-10">
                    {{ form.self_group.errors }}
                        {{ form.self_group }}
                    </div>
                </div>

                <!-- <div class="form-group row">

                <label class="col-lg-2 col-form-label">Can Quantities of items be ADDED?</label>

                    <div class="col-lg-10">
                    </div>
                </div> -->
                {% if company.gst_enabled == 'Yes' %}
                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Set/Alter GST</label>

                    <div class="col-lg-10">
                    {{ form.set_or_alter_gst.errors }}
                    {{ form.set_or_alter_gst }}
                    </div>
                </div>
                {% endif %}

            
        </div>
    </div>
</div>

</div>


{% if form.instance.set_or_alter_gst == 'Yes' %}
    <div id="gst_chan" style="display:block">
{% else %}
    <div id="gst_chan" style="display:none">
{% endif %}
<div class="row">
<div class="col-md-12">


        <div class="ibox ">
        <div class="ibox-title">
            <h5>GST Details</h5>

            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">

            
        

            <style type="text/css">
                .errorlist {
                    color: red;
                }
            </style>

            


                <div class="form-group row">

                <label class="col-lg-2 col-form-label">HSN/SAC<i class="material-icons" style="font-size:16px;color:red">*</i></label>

                    <div class="col-lg-10">
                    {{ form.hsn.errors }}
                    {{ form.hsn }}
                    </div>
                </div>

                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Is non-GST goods?</label>

                    <div class="col-lg-10">

                    {{ form.is_non_gst.errors }}
                    {{ form.is_non_gst }}

                    </div>
                </div>

            {% if form.instance.is_non_gst == 'Yes' %}
                <div id="for_non_gst" style="display: none;">
            {% else %}
                <div id="for_non_gst" style="display: block;">
            {% endif %}

                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Taxability</label>

                    <div class="col-lg-10">

                    {{ form.taxability.errors }}
                    {{ form.taxability }}

                    </div>
                </div>
            </div>

            {% if form.instance.taxability == 'Taxable' or form.instance.is_non_gst == 'No' %}
                <div id="taxability_cond" style="display: block;">
            {% else %}
                <div id="taxability_cond" style="display: none;">
            {% endif %}

                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Is reverse charge applicable?</label>

                    <div class="col-lg-10">

                    {{ form.reverse_charge.errors }}
                    {{ form.reverse_charge }}

                    </div>
                </div>
            

                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Is ineligible for input credit?</label>

                    <div class="col-lg-10">

                    {{ form.input_credit.errors }}
                    {{ form.input_credit }}

                    </div>
                </div>

                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Integrated Tax&nbsp;(%)</label>

                    <div class="col-lg-10">

                    {{ form.integrated_tax.errors }}
                    {{ form.integrated_tax }}

                    </div>
                </div>

                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Central Tax&nbsp;(%)</label>

                    <div class="col-lg-10">

                    {{ form.central_tax.errors }}
                    {{ form.central_tax }}

                    </div>
                </div>


                <div class="form-group row">

                <label class="col-lg-2 col-form-label">State Tax&nbsp;(%)</label>

                    <div class="col-lg-10">

                    {{ form.state_tax.errors }}
                    {{ form.state_tax }}

                    </div>
                </div>

                <div class="form-group row">

                <label class="col-lg-2 col-form-label">Cess&nbsp;(%)</label>

                    <div class="col-lg-10">

                    {{ form.cess.errors }}
                    {{ form.cess }}

                    </div>
                </div>

            </div>

            
        </div>
    </div>
    </div>

</div>

</div>

<div class="row">
<div class="col-lg-12">

        <div class="ibox ">
        <div class="ibox-content">
            
                <div class="form-group row">
                    <div class="col-lg-offset-2 col-lg-10">
                        {% if not form.instance.pk %}
                        <button type="submit" class="btn btn-info pull-right" value="Submit">Create Stock</button>
                        {% else %}
                        <button type="submit" class="btn btn-info pull-right" value="Submit">Update Stock</button>
                        {% endif %}
                        <button type="button" class='btn btn-default pull-right' onclick="goBack()">Go Back</button>
                    </div>
                </div>
            
        </div>
    </div>
</div>

</div>
</form>

<script type="text/javascript">
    function gst_change(sel){
    //document.getElementById("id_name").value = document.getElementById("id_LedgerGroup_Name").value;
    var txt=sel.options[sel.selectedIndex].text;

    if(txt=="Yes"){
        document.getElementById("gst_chan").style="display:block;";
    }else{
        document.getElementById("gst_chan").style="display:none;";
        document.getElementById("id_integrated_tax").value = 0;
        document.getElementById("id_central_tax").value = 0;
        document.getElementById("id_state_tax").value = 0;
        document.getElementById("id_cess").value = 0;
        document.getElementById("id_reverse_charge").value = '';
        document.getElementById("id_input_credit").value = '';
    }
}
</script>


        <script>
        function goBack() {
          window.history.back();
        }

        function change_taxability_stock(sel){
                    //document.getElementById("id_name").value = document.getElementById("id_LedgerGroup_Name").value;
            var txt=sel.options[sel.selectedIndex].text;

            if (txt == "Taxable") {
            document.getElementById("taxability_cond").style = "display:block";
            } else {
                document.getElementById("taxability_cond").style = "display:none";
                document.getElementById("id_integrated_tax").value = 0;
                document.getElementById("id_central_tax").value = 0;
                document.getElementById("id_state_tax").value = 0;
                document.getElementById("id_cess").value = 0;
                document.getElementById("id_reverse_charge").value = '';
                document.getElementById("id_input_credit").value = '';
            }
            
        }

        function change_non_gst(sel){
                    //document.getElementById("id_name").value = document.getElementById("id_LedgerGroup_Name").value;
            var txt=sel.options[sel.selectedIndex].text;

            if (txt == "No") {
            document.getElementById("for_non_gst").style = "display:block";
            } else {
                document.getElementById("id_taxability").value = '';
                document.getElementById("id_reverse_charge").value = '';
                document.getElementById("id_input_credit").value = '';
                document.getElementById("id_integrated_tax").value = 0;
                document.getElementById("id_central_tax").value = 0;
                document.getElementById("id_state_tax").value = 0;
                document.getElementById("id_cess").value = 0;
                document.getElementById("for_non_gst").style = "display:none";
                document.getElementById("taxability_cond").style = "display:none";
            }
            
        }

        </script>
{% endblock %}