{% extends "clouderp/base.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% block title %}Stockgroup Details{% endblock %}

{% block content %}



   {% include "snippet_shortcut/shortcut_snippet.html" %}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h3>Stockgroup Details</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'company:list' %}">Company list</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'company:Dashboard' company_pk=company.pk period_selected_pk=period_selected.pk %}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'stock_keeping:stockgrouplist' company_pk=company.pk period_selected_pk=period_selected.pk %}">Stockgroup List</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>Stockgroup Details</strong>
                    </li>
                </ol>
           <br>
              <a href="{% url 'stock_keeping:stockgrouplist' company_pk=company.pk period_selected_pk=period_selected.pk %}" class="btn btn-success" role="button">Stockgroup List</a>
          
              <a href="{% url 'stock_keeping:stockgroupcreate' company_pk=company.pk period_selected_pk=period_selected.pk  %}" class="btn btn-warning" role="button">Create Stockgroup</a>
           
                </div>
            </div>

        <div class="wrapper wrapper-content animated fadeInRight ecommerce">



            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-content">

                          <div class="table-responsive">
                            
                            <table class="table table-striped" data-page-size="15" id="book-table">
                                <tr>
                                  <th>Name</th>
                                  <th>{{ stockgroup_details.group_name }}</th>
                                </tr>  

                                <tr>
                                  <th>Under</th>
                                  <th>{{ stockgroup_details.self_group }}</th>
                                </tr>

                                {% if stockgroup_details.hsn %}
                                  <tr>
                                    <th>HSN/SAC</th>
                                    <th>{{ stockgroup_details.hsn }}</th>
                                  </tr>
                                {% endif %}

                                {% if stockgroup_details.is_non_gst != 'No' %}
                                  <tr>
                                    <th>Is non GST?</th>
                                    <th>{{ stockgroup_details.is_non_gst }}</th>
                                  </tr>
                                {% endif %}

                                {% if stockgroup_details.taxability and stockgroup_details.taxability != 'Unknown' %}
                                  <tr>
                                    <th>Taxability</th>
                                    <th>{{ stockgroup_details.taxability }}</th>
                                  </tr>
                                {% endif %}

                                {% if stockgroup_details.reverse_charge and stockgroup_details.reverse_charge != 'No' %}
                                  <tr>
                                    <th>Is reverse charge applicable?</th>
                                    <th>{{ stockgroup_details.reverse_charge }}</th>
                                  </tr>
                                {% endif %}

                                {% if stockgroup_details.input_credit and stockgroup_details.input_credit != 'No' %}
                                  <tr>
                                    <th>Is ineligible for input credit?</th>
                                    <th>{{ stockgroup_details.input_credit }}</th>
                                  </tr>
                                {% endif %}

                                {% if stockgroup_details.integrated_tax != 0 %}
                                  <tr>
                                    <th>Integrated Tax</th>
                                    <th>{{ stockgroup_details.integrated_tax }}</th>
                                  </tr>
                                {% endif %}

                                {% if stockgroup_details.central_tax != 0 %}
                                  <tr>
                                    <th>Central Tax</th>
                                    <th>{{ stockgroup_details.central_tax }}</th>
                                  </tr>
                                {% endif %}

                                {% if stockgroup_details.state_tax != 0 %}
                                  <tr>
                                    <th>State Tax</th>
                                    <th>{{ stockgroup_details.state_tax }}</th>
                                  </tr>
                                {% endif %}

                                {% if stockgroup_details.cess != 0 %}
                                  <tr>
                                    <th>CESS</th>
                                    <th>{{ stockgroup_details.cess }}</th>
                                  </tr>
                                {% endif %}

                            </table>
                          </div>
                            <p><a class='btn btn-warning' href="{% url 'stock_keeping:stockgroupupdate' company_pk=company.pk stock_group_pk=stockgroup_details.pk period_selected_pk=period_selected.pk %}">Update StockGroup</a><a class='btn btn-danger pull-right' href="{% url 'stock_keeping:stockgroupdelete' company_pk=company.pk stock_group_pk=stockgroup_details.pk period_selected_pk=period_selected.pk %}">Delete Stockgroup</a></p>

                        </div>
                        <br>
                        
                    </div>
                </div>
            </div>


        </div>


  <div class="modal inmodal" id="modal-book" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content animated fadeIn"></div>
    </div>
  </div>
  


{% endblock %}