{% extends "clouderp/base_2.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% block title %}Products{% endblock %}

{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Product details</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Product detail</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-5">


                            <div class="product-images">

                                <div>
                                    <div>
                                        {% if products_details.image %}
                                        <img class="product_img" src="{{ products_details.image.url }}/"
                                            alt="product picture" height="100%" width="100%">
                                        {% else %}
                                        <img src="{% static 'userprofile/comming soon.jpg' %}" alt="product picture"
                                            height="438" width="419">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">

                            <h2 class="font-bold m-b-xs">
                                {{ products_details.title}}
                            </h2>
                            <hr>
                            <div>
                                <style type="text/css">
                                    .checked {
                                        color: orange;
                                    }
                                </style>
                                <a href="#">{{ products_details.product_review.count }}
                                    Review{{ products_details.product_review.count|pluralize }}</a>
                                <div class="product-rating">
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>

                            </div>
                            <hr>
                            <h4>Product description</h4>

                            <div class="small text-muted">
                                {{ products_details.description}}
                            </div>
                            <dl class="row m-t-md small">
                                <dt class="col-md-4 text-right">Summary</dt>
                                <dd class="col-md-8">{{ products_details.summary}}</dd>
                            </dl>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% if price_models and user.is_authenticated %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail">
                <div class="ibox-content">
                    <div id="page-top" class="landing-page no-skin-config pace-done">

                        <section id="pricing" class="pricing">
                            <div class="container">
                                <div class="row m-b-lg">
                                    <div class="col-lg-12 text-center">
                                        <div class="navy-line"></div>
                                        <h1>Product Pricing</h1>
                                        <p>Flexible plans that suits your needs</p>
                                    </div>
                                </div>
                                {% if active_subscription %}
                                <div class="row m-b-lg">
                                    <div class="col-lg-12 text-center alert alert-danger">
                                        <h3>Your current subscription plan <strong>{{ active_subscription.price_model.product_feature.feature_name }}</strong> will expire in <strong>{{ active_subscription.subscription_upto|timeuntil }}</strong></h3>
                                    </div>
                                </div>
                                {% endif %}
                                {% if future_subscription %}
                                <div class="row m-b-lg">
                                    <div class="col-lg-12 text-center alert alert-danger">
                                        <h3>Your have already subscribed to plan <strong>{{ future_subscription.price_model.product_feature.feature_name }}</strong> which will start on <strong>{{ future_subscription.subscription_from }}</strong></h3>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="row">
                                    {% for price_plan in price_models %}
                                    {% if price_plan.row_number == 1 %}
                                    {# since window function does not support filtering, manual fiter is done in template #}
                                    <div class="col-lg-{{ feature_col_count }} wow zoomIn animated"
                                        style="visibility: visible;" id="div_my_cart_form_{{ price_plan.id }}">
                                        <form method="post">{% csrf_token %}
                                            <ul
                                                class="pricing-plan list-unstyled {% if price_plan.product_feature.suggested %}selected{% endif %}">
                                                <li class="pricing-title" {% if price_feature_count > 3 %} style="font-size: 16px" {% elif price_feature_count > 2 %} style="font-size: 17px" {% endif %}>
                                                    {{ price_plan.product_feature.feature_name }}
                                                </li>
                                                <li class="pricing-desc">
                                                    {{ price_plan.product_feature.feature_summary }}
                                                </li>
                                                <li class="pricing-price">
                                                    <span>&#8377;
                                                        {{ price_plan.annual_inclusive_price|floatformat:0 }}</span>
                                                    / yearly
                                                </li>
                                                <li class="pricing-price">
                                                    <span>&#8377;
                                                        {{ price_plan.half_yearly_inclusive_price|floatformat:0 }}</span>
                                                    / half yearly
                                                </li>
                                                <li class="pricing-price">
                                                    <span>&#8377;
                                                        {{ price_plan.quarterly_inclusive_price|floatformat:0 }}</span>
                                                    / quarterly
                                                </li>
                                                <li class="pricing-price">
                                                    <span>&#8377;
                                                        {{ price_plan.monthly_inclusive_price|floatformat:0 }}</span>
                                                    / monthly
                                                </li>
                                                <li>
                                                    {{ price_plan.product_feature.description|safe }}
                                                </li>
                                                {% if not future_subscription %}
                                                <li>
                                                    {{ product_to_cart_form }}
                                                    <input type="hidden" name="model_id" id="hid_model_id"
                                                        value="{{ price_plan.id }}" />
                                                </li>
                                                <li style="background-color:lightblue; color: black; font-size: large">
                                                    &#8377; <span id="your_price_{{ price_plan.id }}">{{ price_plan.annual_inclusive_price|floatformat:0 }}</span>
                                                </li>
                                                <li>
                                                    <button type="submit" class="btn btn-primary btn-xs fa fa-shopping-cart">&nbsp; Add to Cart</button>
                                                </li>
                                                {% endif %}
                                            </ul>
                                        </form>
                                    </div>

                                    {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="row m-t-lg">
                                    <div class="col-lg-12 text-center m-t-lg">
                                        <p>* Product price may update any time. The price listed will be valid
                                            till your subscription ends.</p>
                                    </div>
                                </div>
                            </div>

                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-5">
                            <div class="product-images">
                                <h4 class="text-uppercase"><strong>Reviews</strong></h4>
                                <div>
                                    <div>
                                        <div id="book-table">
                                            {% include 'products/reviews.html' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            {% if user.is_authenticated %}
                            <h4 class="text-uppercase"><strong>Write Your Review</strong></h4>
                            <p>Your email address will not be published.</p>
                            <form method="post" class="form-horizontal">
                                {% csrf_token %}
                                <div class="form-group">

                                    <div class="col-sm-10">
                                        {{ Productreview_form.name }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-10">
                                        {{ Productreview_form.email }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        {{ Productreview_form.text }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <div class="input-rating">

                                            <style type="text/css">
                                                .checked {
                                                    color: orange;
                                                }
                                            </style>

                                            <strong class="text-uppercase">Your Rating: </strong>
                                            <div class="stars">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star-o empty"></span>
                                                <span class="fa fa-star-o empty"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-info" value="Submit">
                            </form>

                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal inmodal" id="modal-book" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    function month_count_changed(sel) {
        div_id = $(sel).parents("div:first").prop('id');
        if (div_id == undefined) {
            return;
        }

        i = div_id.lastIndexOf("_")
        if (i < 0) {
            return;
        }

        plan_id = div_id.substring(i + 1)

        result_span = "#your_price_" + plan_id

        var form = $(sel).closest("form");
        $.ajax({
            url: "{% url 'ecommerce_integration:product_price_json' %}",
            data: form.serialize(),
            method: 'POST',
            dataType: 'json',
            beforeSend: function () {
                jQuery.noConflict()
                $(result_span).html("Loading...");
            },
            error: function (xhr, error) {
                $(result_span).html("Failed!");
            },
            success: function (data) {
                if (data.is_error) {
                    console.log(data.error_message)
                    $(result_span).html("Error!");
                }
                else {
                    $(result_span).html(data.price);
                }
            }
        });

    }
</script>
{% endblock %}