{% extends "clouderp/base_2.html" %}
{% load staticfiles %}

{% block title %}Products{% endblock %}

{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Product List</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">
                        <strong>Products List</strong>
                    </li>
                </ol>
            </div>
</div>

    <style type="text/css">
        .product_img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 100%;
        }
    </style>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">

            {% for products in users %}
                <div class="col-md-3">
                    <div class="ibox">
                        <div class="ibox-content product-box">

                            <div>

                            {% if products.image %}
				               <img class="product_img" src="{{ products.image.url }}/" alt="product picture" height="200" width="100">
				            {% else %}
				                <img class="product_img" src="{% static 'userprofile/comming soon.jpg' %}" height="200" width="100">
				            {% endif %}

                            </div>
                            <div class="product-desc">
                                <span class="product-price">
                                    <strong> &#8377; {{ products.price }}/-</strong>   annually.
                                </span>
                                
                                <a href="{% url 'ecommerce_integration:productdetail' pk=products.pk %}" class="product-name">{{ products.title}}</a>



                                <div class="small m-t-xs">
                                    {{ products.summary|safe|truncatewords:"9" }}
                                </div>
                                <div class="ratings">
				                <p class="pull-right">{{ products.product_review.count }} review{{ products.product_review.count|pluralize }}</p>

				                <style type="text/css">
				                  .checked {
				                     color: orange;
				                }
				                </style>
				                <p>
				                    <span class="fa fa-star checked"></span>
				                    <span class="fa fa-star checked"></span>
				                    <span class="fa fa-star checked"></span>
				                    <span class="fa fa-star-o empty "></span>
				                    <span class="fa fa-star-o empty"></span>
				                </p>
				            </div>
                                <div class="m-t text-righ">

                              {% if products in user.profile.subscribed_products.all %}

                                <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal4">
                                                SUBSCRIBED
                                            </button>

                              {% for productactivate in products.product_activate.all %}

                                {% if productactivate.User == user %}

                                  {% if productactivate.is_active == False %}

                                    <a class="btn btn-xs btn-success pull-right" href="{% url 'userprofile:activate_product' productactivate.id %}">Activate</a>

                                  {% else %}

                                    <a class="btn btn-xs btn-danger pull-right" href="{% url 'userprofile:deactivate_product' productactivate.id %}">DeActivate</a>

                                  {% endif %}

                                {% endif %}

                              {% endfor %}

                              {% elif products in current_order_products %}

                                <a href="{% url 'ecommerce_cart:order_summary' %}" class="btn btn-xs btn-warning">Go to Cart</a>
                      

                              {% else %}
 <!--                                <div class="col-xs-3">
                                  
                                  <a href="https://www.instamojo.com/@bracketlinelimited/l798821d2522d432a99234314e0ce6ee2/" rel="im-checkout" data-behaviour="remote" data-style="flat" data-text="Buy now"></a>
                                  <script src="https://js.instamojo.com/v1/button.js"></script>

                                </div> -->
                                

                                <a href="{% url 'ecommerce_cart:add_to_cart' products.id %}" class="btn btn-xs btn-warning" onclick="return confirm_delete();"><i class="fa fa-shopping-cart" style="font-size:16px"></i>&nbsp; Add to cart</a>
                               
                              {% endif %}

                                    <a href="{% url 'ecommerce_integration:productdetail' pk=products.pk %}" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>

<div class="modal inmodal" id="myModal4" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <p><strong>You have already subscribed to this product&hellip;</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}