{% extends "clouderp/base_2.html" %}
{% load staticfiles %}
{% block title %}Service details{% endblock %}

{% block content %}




            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h3>Service Details</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="{% url 'userprofile:profiledetail' %}">Profile</a>
                    </li>
                    <li class="breadcrumb-item">
                    {% if service_details.User == user %}
                        <a href="{% url 'userprofile:servicelist' %}">Service list</a>
                    {% else %}
                      <a href="{% url 'userprofile:specificservicelist' pk=service_details.User.profile.pk %}">Service list</a>
                    {% endif %}
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>Service Details</strong>
                    </li>
                </ol>
                <br>
                {% if service_details.User == user %}
                  <a href="{% url 'userprofile:service_create' %}" class="btn btn-warning" role="button">Create Services </a>
                {% endif %}
           <br>
           
                </div>
            </div>

        <div class="wrapper wrapper-content animated fadeInRight ecommerce">



            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-content">

                          <div class="table-responsive">
                            
                            <table class="table table-striped" data-page-size="15" id="book-table">
                                             <tr>
                                              <th>Service Name</th>
                                              <th>{{ service_details.service_name }}</th>
                                            </tr>

                                            <tr>
                                              <th>Details</th>
                                              <th>{{ service_details.details }}</th>
                                            </tr>


                                             <tr>
                                              <th>Service Type</th>
                                              <th>{{ service_details.service_type }}</th>
                                            </tr>


                                             <tr>
                                              <th>Duration</th>
                                              <th>{{ service_details.duration }}</th>
                                            </tr>

                                            <tr>
                                              <th>Service Mode</th>
                                              <th>{{ service_details.service_mode }}</th>
                                            </tr>

                                            <tr>
                                              <th>Rate</th>
                                              <th>{{ service_details.rate }}</th>
                                            </tr>
                            </table>
                          </div>
                          {% if service_details.User == user %}
                            <p><a class='btn btn-warning' href="{% url 'userprofile:service_update' pk=service_details.pk %}">Update Service</a></p>
                          {% endif %}

                        </div>
                        <br>
                        
                    </div>
                </div>
            </div>


        </div>


  <div class="modal inmodal" id="modal-book" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content animated fadeIn"></div>
    </div>
  </div>
  


{% endblock %}