{% extends "clouderp/base.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% load humanize %}
{% block title %}Cash/Bank Summary{% endblock %}

{% block content %}

            {% include "snippet_shortcut/shortcut_snippet.html" %}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h3>Cash/Bank Summary</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'ecommerce_integration:productlist' %}">Products</a>
                    </li>
                    <li class="breadcrumb-item">
                        
                        <a href="{% url 'company:list' %}">Company list</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'company:Dashboard' company_pk=company.pk period_selected_pk=period_selected.pk %}">Dashboard</a>
                    </li>
                    
                    <li class="breadcrumb-item active">
                    <strong>Cash/Bank Summary</strong> 
                        
                    </li>
                </ol>
           <br>
              <a href="{% url 'stock_keeping:purchase_register' company_pk=company.pk period_selected_pk=period_selected.pk  %}" class="btn btn-primary" role="button">Purchase Register</a>

              <a href="{% url 'stock_keeping:sale_register' company_pk=company.pk period_selected_pk=period_selected.pk  %}" class="btn btn-info" role="button">Sales Register</a>

              <a href="{% url 'accounting_entry:journalregister' company_pk=company.pk period_selected_pk=period_selected.pk %}" class="btn btn-default" role="button">Journal Register</a>

    <button class="btn btn-info show-form-update pull-right"
      data-url="{% url 'accounting_entry:dateupdate' period_selected_pk=period_selected.pk %}">
      <span class="glyphicon glyphicon-pencil"></span>
      Update Period
    </button>

    <a id="book-table-date" class="pull-right" style="padding-top:0.5%">
      <strong>Selected Period: From</strong>
      {{ period_selected.start_date|date }}
      <strong>To</strong>
      {{ period_selected.end_date|date }} &nbsp;
    </a>
           
                </div>
                
            </div>
<div id="printableArea">

    <style>
    @media print  
    {
    a[href]:after {
    content: none !important;
    }
    @page {
    margin-top: 0;
    margin-bottom: 0;
    }
    body{
    padding-top: 72px;
    padding-bottom: 72px ;
    }
    }
    </style>


            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <div class="ibox">
                    <div class="ibox-title">
                            <h2><center><strong>Cash/Bank Summary</strong></center></h2>
                        </div>
                        <div class="ibox-content">

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                          <tr>
                            <th></th>
                            <th colspan="2"><center>Closing Balance</center></th>

                          </tr>
                          <tr>
                           <th><center>Particulars</center></th>
                            <th>Debit</th>
                            <th>Credit</th>
                            
                              
                          </tr>

                        {% for LedgerGroup in cash_group %}
                          <tr>

                            <th><center><a href="{% url 'accounting_entry:groupdetailsummary' company_pk=company.pk pk2=LedgerGroup.pk period_selected_pk=period_selected.pk %}">{{LedgerGroup.group_name}}</a></center></th>
                              {% if LedgerGroup.positive_closing == 0 %}
                              <th></th>
                            {% else %}
                              <th>{{ LedgerGroup.positive_closing|abs|floatformat:2|intcomma }}</th>
                            {% endif %}
                            {% if LedgerGroup.negative_closing == 0 %}
                              <th></th>
                            {% else %}
                              <th>(-){{ LedgerGroup.negative_closing|abs|floatformat:2|intcomma }}</th>
                            {% endif %}
                          </tr>

                          {% for group in LedgerGroup.master_group.all %}
                            {% if group.positive_closing != 0 or group.negative_closing != 0 %}
                              {% if group.positive_closing != None or group.negative_closing != None %}
                                <tr>
                                  <th><center><a href="{% url 'accounting_entry:groupdetailsummary' company_pk=company.pk pk2=group.pk period_selected_pk=period_selected.pk %}">{{group.group_name}}</a></center></th>
                                    {% if group.positive_closing == 0 %}
                                      <th></th>
                                    {% else %}
                                      <th>{{ group.positive_closing|abs|floatformat:2|intcomma }}</th>
                                    {% endif %}
                                    {% if group.negative_closing == 0 %}
                                      <th></th>
                                    {% else %}
                                      <th>(-){{ group.negative_closing|abs|floatformat:2|intcomma }}</th>
                                    {% endif %} 
                                        </tr>
                                      {% endif %}
                            {% endif %}
                          {% endfor %}


                          {% for LedgerMaster in LedgerGroup.ledgergroups.all %}
                              <tr>

                                <td><center><a href="{% url 'accounting_entry:ledgerdetailmonthly' company_pk=company.pk pk2=LedgerMaster.pk period_selected_pk=period_selected.pk %}"><em>{{LedgerMaster.ledger_name}}</em></a></center></td>
                                {% if LedgerMaster.Closing_balance > 0 %}
                                  <td>{{ LedgerMaster.Closing_balance|abs|floatformat:2|intcomma }}</td>
                                  <td></td>
                                {% else %}
                                  <td></td>
                                  <td>(-){{ LedgerMaster.Closing_balance|abs|floatformat:2|intcomma }}</td>
                                {% endif %}
                              </tr>

                          {% endfor %}

                        {% endfor %}

                        {% for LedgerGroup in bank_group %}
                          <tr>

                            <th><center><a href="{% url 'accounting_entry:groupdetailsummary' company_pk=company.pk pk2=LedgerGroup.pk period_selected_pk=period_selected.pk %}">{{LedgerGroup.group_name}}</a></center></th>
                            {% if LedgerGroup.positive_closing == 0 %}
                              <th></th>
                            {% else %}
                              <th>{{ LedgerGroup.positive_closing|abs|floatformat:2|intcomma }}</th>
                            {% endif %}
                            {% if LedgerGroup.negative_closing == 0 %}
                              <th></th>
                            {% else %}
                              <th>(-){{ LedgerGroup.negative_closing|abs|floatformat:2|intcomma }}</th>
                            {% endif %} 
                          </tr>

                          {% for group in LedgerGroup.master_group.all %}
                            {% if group.positive_closing != 0 or group.negative_closing != 0 %}
                              {% if group.positive_closing != None or group.negative_closing != None %}
                                <tr>
                                  <td><center><a href="{% url 'accounting_entry:groupdetailsummary' company_pk=company.pk pk2=group.pk period_selected_pk=period_selected.pk %}">{{group.group_name}}</a></center></td>
                                    {% if group.positive_closing == 0 %}
                                      <th></th>
                                    {% else %}
                                      <td>{{ group.positive_closing|abs|floatformat:2|intcomma }}</td>
                                    {% endif %}
                                    {% if group.negative_closing == 0 %}
                                      <th></th>
                                    {% else %}
                                      <td>(-){{ group.negative_closing|abs|floatformat:2|intcomma }}</td>
                                    {% endif %} 
                                  </tr>
                                    {% endif %}
                            {% endif %}
                          {% endfor %}

                          {% for LedgerMaster in LedgerGroup.ledgergroups.all %}
                              <tr>

                                <td><center><a href="{% url 'accounting_entry:ledgerdetailmonthly' company_pk=company.pk pk2=LedgerMaster.pk period_selected_pk=period_selected.pk %}"><em>{{LedgerMaster.ledger_name}}</em></a></center></td>
                                {% if LedgerMaster.Closing_balance > 0 %}
                                  <td>{{ LedgerMaster.Closing_balance|abs|floatformat:2|intcomma }}</td>
                                  <td></td>
                                {% else %}
                                  <td></td>
                                  <td>(-){{ LedgerMaster.Closing_balance|abs|floatformat:2|intcomma }}</td>
                                {% endif %}
                               
                              </tr>

                          {% endfor %}

                        {% endfor %}

                          <tr>
                           <th><center>Grand Total</center></th>
                           {% if positive == 0 %}
                            <th></th>
                           {% else %} 
                            <th>{{ positive|abs|floatformat:2|intcomma }}</th>
                            {% endif %}
                            {% if negative == 0 %}
                              <th></th>
                           {% else %}
                            <th>{{ negative|abs|floatformat:2|intcomma }}</th>
                          {% endif %}
                          
                            
                              
                          </tr>

                        </table>
                        </div>

                             <br>
                            <p><input class='btn btn-default' type="button" onclick="printDiv('printableArea')" value="Print" />

                            


                        </div>
                        <button class='btn btn-default pull-right' onclick="goBack()">Go Back</button>
                    </div>
                </div>
            </div>


        </div>




    <div class="modal inmodal" id="modal-book-date" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content animated flipInY"></div>
    </div>
  </div>

<script>
function goBack() {
  window.history.back();
}
</script>  

<script type="text/javascript">
  
  function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
  }
</script>

{% endblock %}