{% load staticfiles %}
{% for answer in comments %}
<div class="feed-element">
    {% if answer.user.profile.image %}
        <a href="#" class="float-left">
        <img alt="image" class="rounded-circle" src="{{ answer.user.profile.image.url }}/">
        </a>
    {% else %}
        <a href="#" class="float-left">
        <img alt="image" class="rounded-circle" src="{% static 'userprofile/download (1).jpg' %}">
        </a>
    {% endif %}
        <div class="media-body ">
        <small class="float-right">{{ answer.date|timesince }} ago</small>
        <strong>{{ answer.user }}</strong> <br>
        <small class="text-muted">Today {{ answer.date|date:'h' }}:{{ answer.Date|date:'i' }} {{ answer.date|date:'a' }} - {{ answer.date|date }}</small>
        <div class="well">
            {{ answer.text }}
        </div>
        </div>
            {% if consultancy_details.user == user or answer.user == user %}
                          
                <button class="show-form-delete pull-right" data-url="{% url 'consultancy:answersdelete' answer_pk=answer.id %}">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                          
            {% endif %}

        {% if answer.user == user %}
            <button class="show-form-update pull-right" data-url="{% url 'consultancy:answersupdate' answer_pk=answer.id %}">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        {% endif %}


</div>

{% endfor %}