{% for consultancy in consultancy_list %}
    <tr> 
        <td>
            <span class="label label-primary">Question</span>
        </td>
        <td class="issue-info">
            <a href="{% url 'consultancy:consultancydetail' consultancy_pk=consultancy.pk %}">
                {{ consultancy.question }}
            </a>

            <small>
                {{ consultancy.question }}
            </small>
        </td>
        <td>
            <a href="{% url 'user_profile:specific_profile' profile_pk=consultancy.user.profile.pk %}">{{ consultancy.user }}</a>
        </td>
        <td>
            {{ consultancy.date|date }} {{ consultancy.date|date:"h" }}:{{ consultancy.date|date:"i" }} {{ consultancy.date|date:"a" }}
        </td>
        <td>
            <span class="pie">0.52,1.041</span>
            {{ consultancy.consultancies.count }} Solution{{ consultancy.consultancies.count|pluralize }} - {{ consultancy.like.count }} Like{{ consultancy.like.count|pluralize }}
        </td>
        <td class="text-right">
            <a href="{% url 'consultancy:consultancydetail' consultancy_pk=consultancy.pk %}" class="btn btn-success btn-xs">Answer</a>
            {% if consultancy.user == user %}
              <button class="show-form-update btn btn-warning btn-xs" data-url="{% url 'consultancy:consultancyupdate' consultancy_pk=consultancy.id %}">
                Update
              </button>

              <button class="show-form-delete btn btn-danger btn-xs" data-url="{% url 'consultancy:consultancydelete' consultancy_pk=consultancy.id %}">
                Delete
              </button>

          {% endif %}
        </td>
    </tr> 
{% endfor %}